
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">DuotonePicker</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>DuotonePicker</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { DuotonePicker, DuotoneSwatch } from '@wordpress/components';

const DUOTONE_PALETTE = [
    { colors: [ '#8c00b7', '#fcff41' ], name: 'Purple and yellow', slug: 'purple-yellow' },
    { colors: [ '#000097', '#ff4747' ], name: 'Blue and red', slug: 'blue-red' },
];

const COLOR_PALETTE = [
    { color: '#ff4747', name: 'Red', slug: 'red' },
    { color: '#fcff41', name: 'Yellow', slug: 'yellow' },
    { color: '#000097', name: 'Blue', slug: 'blue' },
    { color: '#8c00b7', name: 'Purple', slug: 'purple' },
];

const Example = () =&gt; {
    const [ duotone, setDuotone ] = useState( [ '#000000', '#ffffff' ] );
    return (
        &lt;&gt;
            &lt;DuotonePicker
                duotonePalette={ DUOTONE_PALETTE }
                colorPalette={ COLOR_PALETTE }
                value={ duotone }
                onChange={ setDuotone }
            /&gt;
            &lt;DuotoneSwatch values={ duotone } /&gt;
        &lt;/&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="duotonepicker-props" tabindex="-1"><a href="#duotonepicker-props">DuotonePicker Props</a></h2>
<h3 class="is-toc-heading" id="colorpalette" tabindex="-1"><a href="#colorpalette">colorPalette</a></h3>
<ul>
<li>Type: <code>Object[]</code></li>
<li>Required: Yes</li>
</ul>
<p>Array of color presets of the form <code>{ color: '#000000', name: 'Black', slug: 'black' }</code>.</p>
<h3 class="is-toc-heading" id="duotonepalette" tabindex="-1"><a href="#duotonepalette">duotonePalette</a></h3>
<ul>
<li>Type: <code>Object[]</code></li>
<li>Required: Yes</li>
</ul>
<p>Array of duotone presets of the form <code>{ colors: [ '#000000', '#ffffff' ], name: 'Grayscale', slug: 'grayscale' }</code>.</p>
<h3 class="is-toc-heading" id="value" tabindex="-1"><a href="#value">value</a></h3>
<ul>
<li>Type: <code>string[]</code></li>
<li>Required: Yes</li>
</ul>
<p>An array of colors for the duotone effect.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: Yes</li>
</ul>
<p>Callback which is called when the duotone colors change.</p>
<h3 class="is-toc-heading" id="asbuttons-boolean" tabindex="-1"><a href="#asbuttons-boolean">asButtons: boolean</a></h3>
<p>Whether the control should present as a set of buttons, each with its own tab stop.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="loop-boolean" tabindex="-1"><a href="#loop-boolean">loop: boolean</a></h3>
<p>Prevents keyboard interaction from wrapping around. Only used when <code>asButtons</code> is not true.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h2 class="is-toc-heading" id="duotoneswatch-props" tabindex="-1"><a href="#duotoneswatch-props">DuotoneSwatch Props</a></h2>
<h3 class="is-toc-heading" id="values" tabindex="-1"><a href="#values">values</a></h3>
<ul>
<li>Type: <code>string[] | null</code></li>
<li>Required: No</li>
</ul>
<p>An array of colors to show or <code>null</code> to show the placeholder swatch icon.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
