
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">FormTokenField</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>FormTokenField</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>A <code>FormTokenField</code> is a field similar to the tags and categories fields in the interim editor chrome, or the “to” field in Mail on OS X. Tokens can be entered by typing them or selecting them from a list of suggested tokens.</p>
<p>Up to one hundred suggestions that match what the user has typed so far will be shown from which the user can pick from (auto-complete). Tokens are separated by the “,” character. Suggestions can be selected with the up or down arrows and added with the tab or enter key.</p>
<p>The <code>value</code> property is handled in a manner similar to controlled form components. See <a href="https://react.dev/reference/react-dom/components#form-components">Forms</a> in the React Documentation for more information.</p>
<h2 class="is-toc-heading" id="keyboard-accessibility" tabindex="-1"><a href="#keyboard-accessibility">Keyboard Accessibility</a></h2>
<ul>
<li><code>left arrow</code> – if input field is empty, move insertion point before previous token</li>
<li><code>right arrow</code> – if input field is empty, move insertion point after next token</li>
<li><code>up arrow</code> – select previous suggestion</li>
<li><code>down arrow</code> – select next suggestion</li>
<li><code>tab</code> / <code>enter</code> – if suggestion selected, insert suggestion as a new token; otherwise, insert value typed into input as new token</li>
<li><code>comma</code> – insert value typed into input as new token</li>
</ul>
<h2 class="is-toc-heading" id="properties" tabindex="-1"><a href="#properties">Properties</a></h2>
<ul>
<li><code>value</code> – An array of strings or objects to display as tokens in the field. If objects are present in the array, they <strong>must</strong> have a property of <code>value</code>. Here is an example object that could be passed in as a value:</li>
</ul>
<pre><code class="language-javascript">{
    value: '(string) The value of the token.',
    status: "(string) One of 'error', 'validating', or 'success'. Applies styles to token."
    title: '(string) If not falsey, will add a title to the token.',
    onMouserEnter: '(function) Function to call when onMouseEnter event triggered on token.'
    onMouseLeave: '(function) Function to call when onMouseLeave is triggered on token.'
}
</code></pre>
<ul>
<li><code>displayTransform</code> – Function to call to transform tokens for display. (In<br/>
the editor, this is needed to decode HTML entities embedded in tags –<br/>
otherwise entities like <code>&amp;</code> in tag names are double-encoded like <code>&amp;amp;</code>,<br/>
once by the REST API and once by React).</li>
<li><code>saveTransform</code> – Function to call to transform tokens for saving. The<br/>
default is to trim the token value. This function is also applied when<br/>
matching suggestions against the current value so that matching works<br/>
correctly with leading or trailing spaces. (In the editor, this is needed to<br/>
remove leading and trailing spaces from tag names, like wp-admin does.<br/>
Otherwise the REST API won’t save them.)</li>
<li><code>onChange</code> – Function to call when the tokens have changed. An array of new<br/>
tokens is passed to the callback.</li>
<li><code>onInputChange</code> – Function to call when the users types in the input field. It can be used to trigger autocomplete requests.</li>
<li><code>onFocus</code> – Function to call when the TokenField has been focused on. The event is passed to the callback. Useful for analytics.</li>
<li><code>suggestions</code> – An array of strings to present to the user as suggested<br/>
tokens.</li>
<li><code>maxSuggestions</code> – The maximum number of suggestions to display at a time.</li>
<li><code>tokenizeOnSpace</code> – If true, will add a token when <code>TokenField</code> is focused and <code>space</code> is pressed.</li>
<li><code>isBorderless</code> – When true, renders tokens as without a background.</li>
<li><code>maxLength</code> – If passed, <code>TokenField</code> will disable ability to add new tokens once number of tokens is greater than or equal to <code>maxLength</code>.</li>
<li><code>disabled</code> – When true, tokens are not able to be added or removed.</li>
<li><code>placeholder</code> – If passed, the <code>TokenField</code> input will show a placeholder string if no value tokens are present.</li>
<li><code>messages</code> – Allows customizing the messages presented by screen readers in different occasions:
<ul>
<li><code>added</code> – The user added a new token.</li>
<li><code>removed</code> – The user removed an existing token.</li>
<li><code>remove</code> – The user focused the button to remove the token.</li>
<li><code>__experimentalInvalid</code> – The user tried to add a token that didn’t pass the validation.</li>
</ul>
</li>
<li><code>__experimentalRenderItem</code> – Custom renderer invoked for each option in the suggestion list. The render prop receives as its argument an object containing, under the <code>item</code> key, the single option’s data (directly from the array of data passed to the <code>options</code> prop).</li>
<li><code>__experimentalExpandOnFocus</code> – If true, the suggestions list will be always expanded when the input field has the focus.</li>
<li><code>__experimentalShowHowTo</code> – If false, the text on how to use the select (ie: <em>Separate with commas or the Enter key.</em>) will be hidden.</li>
<li><code>__experimentalValidateInput</code> – If passed, all introduced values will be validated before being added as tokens.</li>
<li><code>__experimentalAutoSelectFirstMatch</code> – If true, the select the first matching suggestion when the user presses the Enter key (or space when tokenizeOnSpace is true).</li>
<li><code>__next40pxDefaultSize</code> – Start opting into the larger default height that will become the default size in a future version.</li>
<li><code>__nextHasNoMarginBottom</code> – Start opting into the new margin-free styles that will become the default in a future version, currently scheduled to be WordPress 7.0. (The prop can be safely removed once this happens.)</li>
<li><code>tokenizeOnBlur</code> – If true, add any incompleteTokenValue as a new token when the field loses focus.</li>
</ul>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { FormTokenField } from '@wordpress/components';

const continents = [
    'Africa',
    'America',
    'Antarctica',
    'Asia',
    'Europe',
    'Oceania',
];

const MyFormTokenField = () =&gt; {
    const [ selectedContinents, setSelectedContinents ] = useState( [] );

    return (
        &lt;FormTokenField
            __next40pxDefaultSize
            value={ selectedContinents }
            suggestions={ continents }
            onChange={ ( tokens ) =&gt; setSelectedContinents( tokens ) }
            __nextHasNoMarginBottom
        /&gt;
    );
};
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
