
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">BorderControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>BorderControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>An input control for a border’s color, style, and width.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<p>The <code>BorderControl</code> brings together internal sub-components which allow users to<br/>
set the various properties of a border. The first sub-component, a<br/>
<code>BorderDropdown</code> contains options representing border color and style. The<br/>
border width is controlled via a <code>UnitControl</code> and an optional <code>RangeControl</code>.</p>
<p>Border radius is not covered by this control as it may be desired separate to<br/>
color, style, and width. For example, the border radius may be absorbed under<br/>
a “shape” abstraction.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { BorderControl } from '@wordpress/components';
import { __ } from '@wordpress/i18n';

const colors = [
    { name: 'Blue 20', color: '#72aee6' },
    // ...
];

const MyBorderControl = () =&gt; {
    const [ border, setBorder ] = useState();

    return (
        &lt;BorderControl
            __next40pxDefaultSize
            colors={ colors }
            label={ __( 'Border' ) }
            onChange={ setBorder }
            value={ border }
        /&gt;
    );
};
</code></pre>
<p>If you’re using this component outside the editor, you can<br/>
<a href="https://developer.notmatt.press/block-editor/reference-guide/components/#popovers-and-tooltips">ensure <code>Tooltip</code> positioning</a><br/>
for the <code>BorderControl</code>‘s color and style options, by rendering your<br/>
<code>BorderControl</code> with a <code>Popover.Slot</code> further up the element tree and within a<br/>
<code>SlotFillProvider</code> overall.</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="colors-paletteobject-colorobject" tabindex="-1"><a href="#colors-paletteobject-colorobject">colors: ( PaletteObject | ColorObject )[]</a></h3>
<p>An array of color definitions. This may also be a multi-dimensional array where<br/>
colors are organized by multiple origins.</p>
<p>Each color may be an object containing a <code>name</code> and <code>color</code> value.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>[]</code></li>
</ul>
<h3 class="is-toc-heading" id="disablecustomcolors-boolean" tabindex="-1"><a href="#disablecustomcolors-boolean">disableCustomColors: boolean</a></h3>
<p>This toggles the ability to choose custom colors.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="disableunits-boolean" tabindex="-1"><a href="#disableunits-boolean">disableUnits: boolean</a></h3>
<p>This controls whether unit selection should be disabled.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="enablealpha-boolean" tabindex="-1"><a href="#enablealpha-boolean">enableAlpha: boolean</a></h3>
<p>This controls whether the alpha channel will be offered when selecting<br/>
custom colors.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="enablestyle-boolean" tabindex="-1"><a href="#enablestyle-boolean">enableStyle: boolean</a></h3>
<p>This controls whether to support border style selection.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="hidelabelfromvision-boolean" tabindex="-1"><a href="#hidelabelfromvision-boolean">hideLabelFromVision: boolean</a></h3>
<p>Provides control over whether the label will only be visible to screen readers.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="iscompact-boolean" tabindex="-1"><a href="#iscompact-boolean">isCompact: boolean</a></h3>
<p>This flags the <code>BorderControl</code> to render with a more compact appearance. It<br/>
restricts the width of the control and prevents it from expanding to take up<br/>
additional space.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>If provided, a label will be generated using this as the content.</p>
<p><em>Whether it is visible only to screen readers is controlled via<br/>
<code>hideLabelFromVision</code>.</em></p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onchange-value-object-void" tabindex="-1"><a href="#onchange-value-object-void">onChange: ( value?: Object ) =&gt; void</a></h3>
<p>A callback function invoked when the border value is changed via an interaction<br/>
that selects or clears, border color, style, or width.</p>
<p><em>Note: the value may be <code>undefined</code> if a user clears all border properties.</em></p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="shouldsanitizeborder-boolean" tabindex="-1"><a href="#shouldsanitizeborder-boolean">shouldSanitizeBorder: boolean</a></h3>
<p>If opted into, sanitizing the border means that if no width or color have been<br/>
selected, the border style is also cleared and <code>undefined</code> is returned as the<br/>
new border value.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="size-string" tabindex="-1"><a href="#size-string">size: string</a></h3>
<p>Size of the control.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>default</code></li>
<li>Allowed values: <code>default</code>, <code>__unstable-large</code></li>
</ul>
<h3 class="is-toc-heading" id="value-object" tabindex="-1"><a href="#value-object">value: Object</a></h3>
<p>An object representing a border or <code>undefined</code>. Used to set the current border<br/>
configuration for this component.</p>
<p>Example:</p>
<pre><code class="language-js"> {
    color: '#72aee6',
    style: 'solid',
    width: '2px,
}
</code></pre>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="width-cssproperties-width" tabindex="-1"><a href="#width-cssproperties-width">width: CSSProperties[ ‘width’ ]</a></h3>
<p>Controls the visual width of the <code>BorderControl</code>. It has no effect if the<br/>
<code>isCompact</code> prop is set to <code>true</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="withslider-boolean" tabindex="-1"><a href="#withslider-boolean">withSlider: boolean</a></h3>
<p>Flags whether this <code>BorderControl</code> should also render a <code>RangeControl</code> for<br/>
additional control over a border’s width.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="__next40pxdefaultsize-boolean" tabindex="-1"><a href="#__next40pxdefaultsize-boolean">__next40pxDefaultSize: boolean</a></h3>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
