
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Tooltip</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Tooltip</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Tooltip is a React component to render floating help text relative to a node when it receives focus or it is hovered upon by a mouse. If the tooltip exceeds the bounds of the page in the direction it opens, its position will be flipped automatically.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p>Render a Tooltip, passing as a child the element to which it should anchor:</p>
<pre><code class="language-jsx">import { Tooltip } from '@wordpress/components';

const MyTooltip = () =&gt; (
    &lt;Tooltip text="More information"&gt;
        &lt;div&gt;Hover for more information&lt;/div&gt;
    &lt;/Tooltip&gt;
);
</code></pre>
<h3 class="is-toc-heading" id="nested-tooltips" tabindex="-1"><a href="#nested-tooltips">Nested tooltips</a></h3>
<p>In case one or more <code>Tooltip</code> components are rendered inside another <code>Tooltip</code> component, only the tooltip associated to the outermost <code>Tooltip</code> component will be rendered in the browser and shown to the user appropriately. The rest of the nested <code>Tooltip</code> components will simply no-op and pass-through their anchor.</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props:</p>
<h4><code>children</code>: <code>React.ReactElement</code></h4>
<p>The element to which the tooltip should anchor.</p>
<p><strong>NOTE:</strong> Accepts only one child element.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>delay</code>: <code>number</code></h4>
<p>The amount of time in milliseconds to wait before showing the tooltip.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>700</code></li>
</ul>
<h4><code>hideOnClick</code>: <code>boolean</code></h4>
<p>Option to hide the tooltip when the anchor is clicked.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h4><code>placement</code>: <code>'top' | 'top-start' | 'top-end' | 'right' | 'right-start' | 'right-end' | 'bottom' | 'bottom-start' | 'bottom-end' | 'left' | 'left-start' | 'left-end'</code></h4>
<p>Used to specify the tooltip’s placement with respect to its anchor.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>'bottom'</code></li>
</ul>
<h4><code>position</code>: <code>string</code></h4>
<p><em>Note: use the <code>placement</code> prop instead when possible.</em></p>
<p>Legacy way to specify the popover’s position with respect to its anchor. Specify y- and x-axis as a space-separated string. Supports <code>'top'</code>, <code>'middle'</code>, <code>'bottom'</code> y axis, and <code>'left'</code>, <code>'center'</code>, <code>'right'</code> x axis.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>'bottom'</code></li>
</ul>
<h4><code>shortcut</code>: <code>string</code> | <code>object</code></h4>
<p>An option for adding accessible keyboard shortcuts.</p>
<p>If shortcut is a string, it is expecting the display text. If shortcut is an object, it will accept the properties of <code>display</code>: <code>string</code> and <code>ariaLabel</code>: <code>string</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>text</code>: <code>string</code></h4>
<p>The text shown in the tooltip when anchor element is focused or hovered.</p>
<ul>
<li>Required: No</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
