
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Text</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Text</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>Text</code> is a core component that renders text in the library, using the library’s typography system.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p><code>Text</code> can be used to render any text-content, like an HTML <code>p</code> or <code>span</code>.</p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return &lt;Text&gt;Code is Poetry&lt;/Text&gt;;
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="adjustlineheightforinnercontrols" tabindex="-1"><a href="#adjustlineheightforinnercontrols">adjustLineHeightForInnerControls</a></h3>
<p><strong>Type</strong>: <code>"large"</code>,<code>"medium"</code>,<code>"small"</code>,<code>"xSmall"</code></p>
<p>Automatically calculate the appropriate line-height value for contents that render text and Control elements (e.g. <code>TextInput</code>).</p>
<pre><code class="language-jsx">import { __experimentalText as Text, TextInput } from '@wordpress/components';

function Example() {
    return (
        &lt;Text adjustLineHeightForInnerControls={"small"}&gt;
            Lorem ipsum dolor sit amet, consectetur
            &lt;TextInput value="adipiscing elit..." /&gt;
        &lt;/Text&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="align" tabindex="-1"><a href="#align">align</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['textAlign']</code></p>
<p>Adjusts the text alignment.</p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return (
        &lt;Text align="center" isBlock&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
        &lt;/Text&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="color" tabindex="-1"><a href="#color">color</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['color']</code></p>
<p>Adjusts the text color.</p>
<h3 class="is-toc-heading" id="display" tabindex="-1"><a href="#display">display</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['display']</code></p>
<p>Adjusts the CSS display.</p>
<h3 class="is-toc-heading" id="ellipsis" tabindex="-1"><a href="#ellipsis">ellipsis</a></h3>
<p><strong>Type</strong>: <code>string</code></p>
<p>The ellipsis string when <code>truncate</code> is set.</p>
<h3 class="is-toc-heading" id="ellipsizemode" tabindex="-1"><a href="#ellipsizemode">ellipsizeMode</a></h3>
<p><strong>Type</strong>: <code>"auto"</code>,<code>"head"</code>,<code>"tail"</code>,<code>"middle"</code></p>
<p>Determines where to truncate. For example, we can truncate text right in the middle. To do this, we need to set <code>ellipsizeMode</code> to <code>middle</code> and a text <code>limit</code>.</p>
<ul>
<li><code>auto</code>: Trims content at the end automatically without a <code>limit</code>.</li>
<li><code>head</code>: Trims content at the beginning. Requires a <code>limit</code>.</li>
<li><code>middle</code>: Trims content in the middle. Requires a <code>limit</code>.</li>
<li><code>tail</code>: Trims content at the end. Requires a <code>limit</code>.</li>
</ul>
<h3 class="is-toc-heading" id="highlightcasesensitive" tabindex="-1"><a href="#highlightcasesensitive">highlightCaseSensitive</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Escape characters in <code>highlightWords</code> which are meaningful in regular expressions.</p>
<h3 class="is-toc-heading" id="highlightescape" tabindex="-1"><a href="#highlightescape">highlightEscape</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Determines if <code>highlightWords</code> should be case sensitive.</p>
<h3 class="is-toc-heading" id="highlightsanitize" tabindex="-1"><a href="#highlightsanitize">highlightSanitize</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Array of search words. String search terms are automatically cast to RegExps unless <code>highlightEscape</code> is true.</p>
<h3 class="is-toc-heading" id="highlightwords" tabindex="-1"><a href="#highlightwords">highlightWords</a></h3>
<p><strong>Type</strong>: <code>any[]</code></p>
<p>Letters or words within <code>Text</code> can be highlighted using <code>highlightWords</code>.</p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return (
        &lt;Text highlightWords={ [ 'pi' ] }&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ex
            neque, vulputate a diam et, luctus convallis lacus. Vestibulum ac
            mollis mi. Morbi id elementum massa. Suspendisse interdum auctor
            ligula eget cursus. In fermentum ultricies mauris, pharetra
            fermentum erat pellentesque id.
        &lt;/Text&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="isblock" tabindex="-1"><a href="#isblock">isBlock</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Sets <code>Text</code> to have <code>display: block</code>.</p>
<p>Note: text truncation only works when <code>isBlock</code> is <code>false</code>.</p>
<h3 class="is-toc-heading" id="isdestructive" tabindex="-1"><a href="#isdestructive">isDestructive</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Renders a destructive color.</p>
<h3 class="is-toc-heading" id="limit" tabindex="-1"><a href="#limit">limit</a></h3>
<p><strong>Type</strong>: <code>number</code></p>
<p>Determines the max characters when <code>truncate</code> is set.</p>
<h3 class="is-toc-heading" id="lineheight" tabindex="-1"><a href="#lineheight">lineHeight</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['lineHeight']</code></p>
<p>Adjusts all text line-height based on the typography system.</p>
<h3 class="is-toc-heading" id="numberoflines" tabindex="-1"><a href="#numberoflines">numberOfLines</a></h3>
<p><strong>Type</strong>: <code>number</code></p>
<p>Clamps the text content to the specific <code>numberOfLines</code>, adding the <code>ellipsis</code> at the end.</p>
<h3 class="is-toc-heading" id="optimizereadabilityfor" tabindex="-1"><a href="#optimizereadabilityfor">optimizeReadabilityFor</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['color']</code></p>
<p>The <code>Text</code> color can be adapted to a background color for optimal readability. <code>optimizeReadabilityFor</code> can accept CSS variables, in addition to standard CSS color values (e.g. Hex, RGB, HSL, etc…).</p>
<pre><code class="language-jsx">import { __experimentalText as Text, View } from '@wordpress/components';

function Example() {
    const backgroundColor = 'blue';

    return (
        &lt;View css={ { backgroundColor } }&gt;
            &lt;Text optimizeReadabilityFor={ backgroundColor }&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            &lt;/Text&gt;
        &lt;/View&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="size" tabindex="-1"><a href="#size">size</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['fontSize']</code>,<code>TextSize</code></p>
<p>Adjusts text size based on the typography system. <code>Text</code> can render a wide range of font sizes, which are automatically calculated and adapted to the typography system. The <code>size</code> value can be a system preset, a <code>number</code>, or a custom unit value (<code>string</code>) such as <code>30em</code>.</p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return &lt;Text size="largeTitle"&gt;Code is Poetry&lt;/Text&gt;;
}
</code></pre>
<h3 class="is-toc-heading" id="truncate" tabindex="-1"><a href="#truncate">truncate</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Enables text truncation. When <code>truncate</code> is set, we are able to truncate the long text in a variety of ways.</p>
<p>Note: text truncation won’t work if the <code>isBlock</code> property is set to <code>true</code></p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return (
        &lt;Text truncate&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ex
            neque, vulputate a diam et, luctus convallis lacus. Vestibulum ac
            mollis mi. Morbi id elementum massa. Suspendisse interdum auctor
            ligula eget cursus. In fermentum ultricies mauris, pharetra
            fermentum erat pellentesque id.
        &lt;/Text&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="uppercase" tabindex="-1"><a href="#uppercase">upperCase</a></h3>
<p><strong>Type</strong>: <code>boolean</code></p>
<p>Uppercases the text content.</p>
<h3 class="is-toc-heading" id="variant" tabindex="-1"><a href="#variant">variant</a></h3>
<p><strong>Type</strong>: <code>"muted"</code></p>
<p>Adjusts style variation of the text.</p>
<pre><code class="language-jsx">import { __experimentalText as Text } from '@wordpress/components';

function Example() {
    return &lt;Text variant="muted"&gt;Code is Poetry&lt;/Text&gt;;
}
</code></pre>
<h3 class="is-toc-heading" id="weight" tabindex="-1"><a href="#weight">weight</a></h3>
<p><strong>Type</strong>: <code>CSSProperties['fontWeight']</code>,<code>TextWeight</code></p>
<p>Adjusts font-weight of the text.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
