
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Navigation</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Navigation</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This component is deprecated. Consider using `Navigator` instead.
</div>
<div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p>Render a navigation list with optional groupings and hierarchy.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import {
    __experimentalNavigation as Navigation,
    __experimentalNavigationGroup as NavigationGroup,
    __experimentalNavigationItem as NavigationItem,
    __experimentalNavigationMenu as NavigationMenu,
} from '@wordpress/components';

const MyNavigation = () =&gt; (
    &lt;Navigation&gt;
        &lt;NavigationMenu title="Home"&gt;
            &lt;NavigationGroup title="Group 1"&gt;
                &lt;NavigationItem item="item-1" title="Item 1" /&gt;
                &lt;NavigationItem item="item-2" title="Item 2" /&gt;
            &lt;/NavigationGroup&gt;
            &lt;NavigationGroup title="Group 2"&gt;
                &lt;NavigationItem
                    item="item-3"
                    navigateToMenu="category"
                    title="Category"
                /&gt;
            &lt;/NavigationGroup&gt;
        &lt;/NavigationMenu&gt;

        &lt;NavigationMenu
            backButtonLabel="Home"
            menu="category"
            parentMenu="root"
            title="Category"
        &gt;
            &lt;NavigationItem badge="1" item="child-1" title="Child 1" /&gt;
            &lt;NavigationItem item="child-2" title="Child 2" /&gt;
        &lt;/NavigationMenu&gt;
    &lt;/Navigation&gt;
);
</code></pre>
<h2 class="is-toc-heading" id="navigation-props" tabindex="-1"><a href="#navigation-props">Navigation Props</a></h2>
<p><code>Navigation</code> supports the following props.</p>
<h3 class="is-toc-heading" id="activeitem" tabindex="-1"><a href="#activeitem">activeItem</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The active item slug.</p>
<h3 class="is-toc-heading" id="activemenu" tabindex="-1"><a href="#activemenu">activeMenu</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: “root”</li>
</ul>
<p>The active menu slug.</p>
<h3 class="is-toc-heading" id="classname" tabindex="-1"><a href="#classname">className</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Optional className for the <code>Navigation</code> component.</p>
<h3 class="is-toc-heading" id="onactivatemenu" tabindex="-1"><a href="#onactivatemenu">onActivateMenu</a></h3>
<ul>
<li>Type: <code>function</code></li>
<li>Required: No</li>
</ul>
<p>Sync the active menu between the external state and the Navigation’s internal state.</p>
<h2 class="is-toc-heading" id="navigation-menu-props" tabindex="-1"><a href="#navigation-menu-props">Navigation Menu Props</a></h2>
<p><code>NavigationMenu</code> supports the following props.</p>
<h3 class="is-toc-heading" id="backbuttonlabel" tabindex="-1"><a href="#backbuttonlabel">backButtonLabel</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: parent menu’s title or “Back”</li>
</ul>
<p>The back button label used in nested menus. If not provided, the label will be inferred from the parent menu’s title.<br/>
If for some reason the parent menu’s title is not available then it will default to “Back”.</p>
<h3 class="is-toc-heading" id="onbackbuttonclick" tabindex="-1"><a href="#onbackbuttonclick">onBackButtonClick</a></h3>
<ul>
<li>Type: <code>function</code></li>
<li>Required: No</li>
</ul>
<p>A callback to handle clicking on the back button. If this prop is provided then the back button will be shown.</p>
<h3 class="is-toc-heading" id="classname-2" tabindex="-1"><a href="#classname-2">className</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Optional className for the <code>NavigationMenu</code> component.</p>
<h3 class="is-toc-heading" id="hassearch" tabindex="-1"><a href="#hassearch">hasSearch</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Enable the search feature on the menu title.</p>
<h3 class="is-toc-heading" id="menu" tabindex="-1"><a href="#menu">menu</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: “root”</li>
</ul>
<p>The unique identifier of the menu. The root menu can omit this, and it will default to “root”; all other menus need to specify it.</p>
<h3 class="is-toc-heading" id="onsearch" tabindex="-1"><a href="#onsearch">onSearch</a></h3>
<ul>
<li>Type: <code>( searchString: string ) =&gt; void;</code></li>
<li>Required: No</li>
</ul>
<p>When <code>hasSearch</code> is active, this function handles the search input’s <code>onChange</code> event, making it controlled from the outside. It requires setting the <code>search</code> prop as well.</p>
<h3 class="is-toc-heading" id="issearchdebouncing" tabindex="-1"><a href="#issearchdebouncing">isSearchDebouncing</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Indicates whether the search is debouncing or not. In case of <code>true</code> the “No results found.” text is omitted. Used to prevent showing “No results found.” text between debounced searches.</p>
<h3 class="is-toc-heading" id="parentmenu" tabindex="-1"><a href="#parentmenu">parentMenu</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The parent menu slug; used by nested menus to indicate their parent menu.</p>
<h3 class="is-toc-heading" id="search" tabindex="-1"><a href="#search">search</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>When <code>hasSearch</code> is active and <code>onSearch</code> is provided, this controls the value of the search input. Required when the <code>onSearch</code> prop is provided.</p>
<h3 class="is-toc-heading" id="isempty" tabindex="-1"><a href="#isempty">isEmpty</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Indicates whether the menu is empty or not. Used together with the <code>hideIfTargetMenuEmpty</code> prop of Navigation Item.</p>
<h3 class="is-toc-heading" id="title" tabindex="-1"><a href="#title">title</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The menu title. It’s also the field used by the menu search function.</p>
<h3 class="is-toc-heading" id="titleaction" tabindex="-1"><a href="#titleaction">titleAction</a></h3>
<ul>
<li>Type: <code>React.ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Use this prop to render additional actions in the menu title.</p>
<h2 class="is-toc-heading" id="navigation-group-props" tabindex="-1"><a href="#navigation-group-props">Navigation Group Props</a></h2>
<p><code>NavigationGroup</code> supports the following props.</p>
<h3 class="is-toc-heading" id="classname-3" tabindex="-1"><a href="#classname-3">className</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Optional className for the <code>NavigationGroup</code> component.</p>
<h3 class="is-toc-heading" id="title-2" tabindex="-1"><a href="#title-2">title</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The group title.</p>
<h2 class="is-toc-heading" id="navigation-item-props" tabindex="-1"><a href="#navigation-item-props">Navigation Item Props</a></h2>
<p><code>NavigationItem</code> supports the following props.</p>
<h3 class="is-toc-heading" id="badge" tabindex="-1"><a href="#badge">badge</a></h3>
<ul>
<li>Type: <code>string|Number</code></li>
<li>Required: No</li>
</ul>
<p>The item badge content.</p>
<h3 class="is-toc-heading" id="classname-4" tabindex="-1"><a href="#classname-4">className</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Optional className for the <code>NavigationItem</code> component.</p>
<h3 class="is-toc-heading" id="href" tabindex="-1"><a href="#href">href</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>If provided, renders <code>a</code> instead of <code>button</code>.</p>
<h3 class="is-toc-heading" id="icon" tabindex="-1"><a href="#icon">icon</a></h3>
<ul>
<li>Type: <code>JSX.Element</code></li>
<li>Required: No</li>
</ul>
<p>If no <code>children</code> are passed, this prop allows to specify a custom icon for the menu item.</p>
<h3 class="is-toc-heading" id="item" tabindex="-1"><a href="#item">item</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The unique identifier of the item.</p>
<h3 class="is-toc-heading" id="navigatetomenu" tabindex="-1"><a href="#navigatetomenu">navigateToMenu</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The child menu slug. If provided, clicking on the item will navigate to the target menu.</p>
<h3 class="is-toc-heading" id="hideiftargetmenuempty" tabindex="-1"><a href="#hideiftargetmenuempty">hideIfTargetMenuEmpty</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Indicates whether this item should be hidden if the menu specified in <code>navigateToMenu</code> is marked as empty in the <code>isEmpty</code> prop. Used together with the <code>isEmpty</code> prop of Navigation Menu.</p>
<h3 class="is-toc-heading" id="onclick" tabindex="-1"><a href="#onclick">onClick</a></h3>
<ul>
<li>Type: <code>React.MouseEventHandler</code></li>
<li>Required: No</li>
</ul>
<p>A callback to handle clicking on a menu item.</p>
<h3 class="is-toc-heading" id="istext" tabindex="-1"><a href="#istext">isText</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: false</li>
</ul>
<p>If set to true then the menu item will only act as a text-only item rather than a button.</p>
<h3 class="is-toc-heading" id="title-3" tabindex="-1"><a href="#title-3">title</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The item title.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
