
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">WithFocusReturn</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>WithFocusReturn</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>withFocusReturn</code> is a higher-order component used typically in scenarios of short-lived elements (modals, dropdowns) where, upon the element’s unmounting, focus should be restored to the focused element which had initiated it being rendered.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<h3 class="is-toc-heading" id="withfocusreturn" tabindex="-1"><a href="#withfocusreturn">withFocusReturn</a></h3>
<pre><code class="language-jsx">import { useState } from 'react';
import { withFocusReturn, TextControl, Button } from '@wordpress/components';

const EnhancedComponent = withFocusReturn( () =&gt; (
    &lt;div&gt;
        Focus will return to the previous input when this component is unmounted
        &lt;TextControl
            __nextHasNoMarginBottom
            __next40pxDefaultSize
            autoFocus={ true }
            onChange={ () =&gt; {} }
        /&gt;
    &lt;/div&gt;
) );

const MyComponentWithFocusReturn = () =&gt; {
    const [ text, setText ] = useState( '' );
    const unmount = () =&gt; {
        document.activeElement.blur();
        setText( '' );
    };

    return (
        &lt;div&gt;
            &lt;TextControl
                __nextHasNoMarginBottom
                __next40pxDefaultSize
                placeholder="Type something"
                value={ text }
                onChange={ ( value ) =&gt; setText( value ) }
            /&gt;
            { text &amp;&amp; &lt;EnhancedComponent /&gt; }
            { text &amp;&amp; (
                &lt;Button variant="secondary" onClick={ unmount }&gt;
                    Unmount
                &lt;/Button&gt;
            ) }
        &lt;/div&gt;
    );
};
</code></pre>
<p><code>withFocusReturn</code> can optionally be called as a higher-order function creator. Provided an options object, a new higher-order function is returned.</p>
<p>Currently, the following options are supported:</p>
<h4><code>onFocusReturn</code></h4>
<p>An optional function which allows the developer to customize the focus return behavior. A return value of <code>false</code> should be returned from this function to indicate that the default focus return behavior should be skipped.</p>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<p><em>Example:</em></p>
<pre><code class="language-jsx">function MyComponent() {
    return &lt;textarea /&gt;;
}

const EnhancedMyComponent = withFocusReturn( {
    onFocusReturn() {
        document.getElementById( 'other-input' ).focus();
        return false;
    },
} )( MyComponent );
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
