
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">SearchControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>SearchControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>SearchControl components let users display a search control.</p>
<p>Check out the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-searchcontrol--docs">Storybook page</a> for a visual exploration of this component.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<p>Render a user interface to input the name of an additional css class.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { __ } from '@wordpress/i18n';
import { SearchControl } from '@wordpress/components';

function MySearchControl( { className, setState } ) {
    const [ searchInput, setSearchInput ] = useState( '' );

    return (
        &lt;SearchControl
            __nextHasNoMarginBottom
            label={ __( 'Search posts' ) }
            value={ searchInput }
            onChange={ setSearchInput }
        /&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<p>The set of props accepted by the component will be specified below.<br/>
Props not included in this set will be applied to the input element.</p>
<h4>label</h4>
<p>The accessible label for the input.</p>
<p>A label should always be provided as an accessibility best practice, even when a placeholder is defined<br/>
and <code>hideLabelFromVision</code> is <code>true</code>.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
<li>Default: <code>__( 'Search' )</code></li>
</ul>
<h4>placeholder</h4>
<p>If this property is added, a specific placeholder will be used for the input.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
<li>Default: <code>__( 'Search' )</code></li>
</ul>
<h4>value</h4>
<p>The current value of the input.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>className</h4>
<p>The class that will be added to the classes of the wrapper div.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>onChange</h4>
<p>A function that receives the value of the input.</p>
<ul>
<li>Type: <code>function</code></li>
<li>Required: Yes</li>
</ul>
<h4>onClose</h4>
<p><em>Note: this prop is deprecated.</em></p>
<p>When an <code>onClose</code> callback is provided, the search control will render a close button that will trigger the given callback.</p>
<p>Use this if you want the button to trigger your own logic to close the search field entirely, rather than just clearing the input value.</p>
<ul>
<li>Type: <code>function</code></li>
<li>Required: No</li>
</ul>
<h4>help</h4>
<p>If this property is added, a help text will be generated using help property as the content.</p>
<ul>
<li>Type: <code>String|Element</code></li>
<li>Required: No</li>
</ul>
<h4>hideLabelFromVision</h4>
<p>If true, the label will not be visible, but will be read by screen readers. Defaults to <code>true</code>.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h4>__nextHasNoMarginBottom</h4>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h4><code>size</code>: <code>'default'</code> | <code>'compact'</code></h4>
<p>The size of the component.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>'default'</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To offer users more constrained options for input, use TextControl, SelectControl, RadioControl, CheckboxControl, or RangeControl.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
