
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">DateTime</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>DateTime</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>DateTimePicker is a React component that renders a calendar and clock for date and time selection. The calendar and clock components can be accessed individually using the <code>DatePicker</code> and <code>TimePicker</code> components respectively.</p>
<p><img alt="Date Time component" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/wordpress.org/gutenberg/files/2019/07/date-time-picker.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="best-practices" tabindex="-1"><a href="#best-practices">Best practices</a></h2>
<p>Date pickers should:</p>
<ul>
<li>Use smart defaults and highlight the current date.</li>
</ul>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p>Render a DateTimePicker.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { DateTimePicker } from '@wordpress/components';

const MyDateTimePicker = () =&gt; {
    const [ date, setDate ] = useState( new Date() );

    return (
        &lt;DateTimePicker
            currentDate={ date }
            onChange={ ( newDate ) =&gt; setDate( newDate ) }
            is12Hour={ true }
        /&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props:</p>
<h3 class="is-toc-heading" id="currentdate-date-string-number-null" tabindex="-1"><a href="#currentdate-date-string-number-null">currentDate: Date | string | number | null</a></h3>
<p>The current date and time at initialization. Optionally pass in a <code>null</code> value to specify no date is currently selected.</p>
<ul>
<li>Required: No</li>
<li>Default: today’s date</li>
</ul>
<h3 class="is-toc-heading" id="onchange-date-string-null-void" tabindex="-1"><a href="#onchange-date-string-null-void">onChange: ( date: string | null ) =&gt; void</a></h3>
<p>The function called when a new date or time has been selected. It is passed the <code>currentDate</code> as an argument.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="is12hour-boolean" tabindex="-1"><a href="#is12hour-boolean">is12Hour: boolean</a></h3>
<p>Whether we use a 12-hour clock. With a 12-hour clock, an AM/PM widget is displayed and the time format is assumed to be <code>MM-DD-YYYY</code> (as opposed to the default format <code>DD-MM-YYYY</code>).</p>
<ul>
<li>Type: <code>bool</code></li>
<li>Required: No</li>
<li>Default: false</li>
</ul>
<h3 class="is-toc-heading" id="dateorder-dmy-mdy-ymd" tabindex="-1"><a href="#dateorder-dmy-mdy-ymd">dateOrder: ‘dmy’ | ‘mdy’ | ‘ymd’</a></h3>
<p>The order of day, month, and year. This prop overrides the time format determined by <code>is12Hour</code> prop.</p>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: <code>'dmy'</code></li>
</ul>
<h3 class="is-toc-heading" id="isinvaliddate-date-date-boolean" tabindex="-1"><a href="#isinvaliddate-date-date-boolean">isInvalidDate: ( date: Date ) =&gt; boolean</a></h3>
<p>A callback function which receives a Date object representing a day as an argument, and should return a Boolean to signify if the day is valid or not.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onmonthpreviewed-date-date-void" tabindex="-1"><a href="#onmonthpreviewed-date-date-void">onMonthPreviewed: ( date: Date ) =&gt; void</a></h3>
<p>A callback invoked when selecting the previous/next month in the date picker. The callback receives the new month date in the ISO format as an argument.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="events-date-date" tabindex="-1"><a href="#events-date-date">events: { date: Date }[]</a></h3>
<p>List of events to show in the date picker. Each event will appear as a dot on the day of the event.</p>
<ul>
<li>Type: <code>Array</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="startofweek-number" tabindex="-1"><a href="#startofweek-number">startOfWeek: number</a></h3>
<p>The day that the week should start on. 0 for Sunday, 1 for Monday, etc.</p>
<ul>
<li>Required: No</li>
<li>Default: 0</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
