
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">ResizeTooltip</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>ResizeTooltip</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>ResizeTooltip displays the dimensions of an element whenever the width or height of the element changes.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">const Example = () =&gt; {
    return (
        &lt;div style={ { position: 'relative' } }&gt;
            &lt;ResizeTooltip /&gt;
            ...
        &lt;/div&gt;
    );
};
</code></pre>
<p>Be sure that the parent element containing <code>&lt;ResizeTooltip /&gt;</code> has the <code>position</code> style property defined. This is important as <code>&lt;ResizeTooltip /&gt;</code> uses <code>position</code> based techniques to determine size changes.</p>
<h3 class="is-toc-heading" id="positions" tabindex="-1"><a href="#positions">Positions</a></h3>
<p><code>&lt;ResizeTooltip /&gt;</code> has three positions;</p>
<ul>
<li><code>bottom</code> (Default)</li>
<li><code>corner</code></li>
</ul>
<h4><code>bottom</code></h4>
<p>The <code>bottom</code> position (default) renders the dimensions label at the bottom-center of the (parent) element.</p>
<h4><code>corner</code></h4>
<p>The <code>corner</code> position renders the dimensions label in the top-right corner of the (parent) element.</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="axis" tabindex="-1"><a href="#axis">axis</a></h3>
<p>Limits the label to render corresponding to the axis. By default, the label will automatically render based on both <code>x</code> and <code>y</code> changes.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
<li>Values: <code>x</code> | <code>y</code></li>
</ul>
<h3 class="is-toc-heading" id="fadetimeout" tabindex="-1"><a href="#fadetimeout">fadeTimeout</a></h3>
<p>Duration (in <code>ms</code>) before the label disappears after resize event.</p>
<ul>
<li>Type: <code>Number</code></li>
<li>Required: No</li>
<li>Default: <code>180</code></li>
</ul>
<h3 class="is-toc-heading" id="isvisible" tabindex="-1"><a href="#isvisible">isVisible</a></h3>
<p>Determines if the label can render.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="labelref" tabindex="-1"><a href="#labelref">labelRef</a></h3>
<p>Callback <a href="https://react.dev/learn/manipulating-the-dom-with-refs">Ref</a> for the label element.</p>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onmove" tabindex="-1"><a href="#onmove">onMove</a></h3>
<p>Callback function when the (observed) element resizes, specifically with a <code>mousemove</code> based event.</p>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onresize" tabindex="-1"><a href="#onresize">onResize</a></h3>
<p>Callback function when the (observed) element resizes.</p>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="position" tabindex="-1"><a href="#position">position</a></h3>
<p>The positions for the label.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
<li>Default: <code>corner</code></li>
<li>Values: <code>bottom</code> | <code>corner</code></li>
</ul>
<h3 class="is-toc-heading" id="showpx" tabindex="-1"><a href="#showpx">showPx</a></h3>
<p>Renders a <code>PX</code> unit suffix after the width or height value in the label.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="zindex" tabindex="-1"><a href="#zindex">zIndex</a></h3>
<p>The <code>z-index</code> style property for the label.</p>
<ul>
<li>Type: <code>Number</code></li>
<li>Required: No</li>
<li>Default: <code>1000</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
