
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">VStack</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>VStack</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>VStack</code> (or Vertical Stack) is a layout component that arranges child elements in a vertical line.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p><code>VStack</code> can render anything inside.</p>
<pre><code class="language-jsx">import {
    __experimentalText as Text,
    __experimentalVStack as VStack,
} from '@wordpress/components';

function Example() {
    return (
        &lt;VStack&gt;
            &lt;Text&gt;Code&lt;/Text&gt;
            &lt;Text&gt;is&lt;/Text&gt;
            &lt;Text&gt;Poetry&lt;/Text&gt;
        &lt;/VStack&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="alignment-hstackalignment-csspropertiesalignitems" tabindex="-1"><a href="#alignment-hstackalignment-csspropertiesalignitems">alignment: HStackAlignment | CSSProperties[‘alignItems’]</a></h3>
<p>Determines how the child elements are aligned.</p>
<ul>
<li><code>top</code>: Aligns content to the top.</li>
<li><code>topLeft</code>: Aligns content to the top/left.</li>
<li><code>topRight</code>: Aligns content to the top/right.</li>
<li><code>left</code>: Aligns content to the left.</li>
<li><code>center</code>: Aligns content to the center.</li>
<li><code>right</code>: Aligns content to the right.</li>
<li><code>bottom</code>: Aligns content to the bottom.</li>
<li><code>bottomLeft</code>: Aligns content to the bottom/left.</li>
<li><code>bottomRight</code>: Aligns content to the bottom/right.</li>
<li><code>edge</code>: Justifies content to be evenly spread out up to the main axis edges of the container.</li>
<li><code>stretch</code>: Stretches content to the cross axis edges of the container.</li>
</ul>
<h3 class="is-toc-heading" id="direction-flexdirection" tabindex="-1"><a href="#direction-flexdirection">direction: FlexDirection</a></h3>
<p>The direction flow of the children content can be adjusted with <code>direction</code>. <code>column</code> will align children vertically and <code>row</code> will align children horizontally.</p>
<h3 class="is-toc-heading" id="expanded-boolean" tabindex="-1"><a href="#expanded-boolean">expanded: boolean</a></h3>
<p>Expands to the maximum available width (if horizontal) or height (if vertical).</p>
<h3 class="is-toc-heading" id="justify-csspropertiesjustifycontent" tabindex="-1"><a href="#justify-csspropertiesjustifycontent">justify: CSSProperties[‘justifyContent’]</a></h3>
<p>Horizontally aligns content if the <code>direction</code> is <code>row</code>, or vertically aligns content if the <code>direction</code> is <code>column</code>.<br/>
In the example below, <code>flex-start</code> will align the children content to the left.</p>
<h3 class="is-toc-heading" id="spacing-csspropertieswidth" tabindex="-1"><a href="#spacing-csspropertieswidth">spacing: CSSProperties[‘width’]</a></h3>
<p>The amount of space between each child element. Spacing in between each child can be adjusted by using <code>spacing</code>.<br/>
The value of <code>spacing</code> works as a multiplier to the library’s grid system (base of <code>4px</code>).</p>
<h3 class="is-toc-heading" id="wrap-boolean" tabindex="-1"><a href="#wrap-boolean">wrap: boolean</a></h3>
<p>Determines if children should wrap.</p>
<h2 class="is-toc-heading" id="spacer" tabindex="-1"><a href="#spacer">Spacer</a></h2>
<p>When a <code>Spacer</code> is used within an <code>VStack</code>, the <code>Spacer</code> adaptively expands to take up the remaining space.</p>
<pre><code class="language-jsx">import {
    __experimentalSpacer as Spacer,
    __experimentalText as Text,
    __experimentalVStack as VStack,
} from '@wordpress/components';

function Example() {
    return (
        &lt;VStack&gt;
            &lt;Text&gt;Code&lt;/Text&gt;
            &lt;Spacer&gt;
                &lt;Text&gt;is&lt;/Text&gt;
            &lt;/Spacer&gt;
            &lt;Text&gt;Poetry&lt;/Text&gt;
        &lt;/VStack&gt;
    );
}
</code></pre>
<p><code>Spacer</code> can also be used in-between items to push them apart.</p>
<pre><code class="language-jsx">import {
    __experimentalSpacer as Spacer,
    __experimentalText as Text,
    __experimentalVStack as VStack,
} from '@wordpress/components';

function Example() {
    return (
        &lt;VStack&gt;
            &lt;Text&gt;Code&lt;/Text&gt;
            &lt;Spacer /&gt;
            &lt;Text&gt;is&lt;/Text&gt;
            &lt;Text&gt;Poetry&lt;/Text&gt;
        &lt;/VStack&gt;
    );
}
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
