
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Button</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Button</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-button--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p>Lets users take actions and make choices with a single click or tap.</p>
<pre><code class="language-jsx">import { Button } from '@wordpress/components';
const Mybutton = () =&gt; (
  &lt;Button
    variant="primary"
    onClick={ handleClick }
  &gt;
    Click here
  &lt;/Button&gt;
);
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the larger default height that will become the<br/>
default size in a future version.</p>
<h3 class="is-toc-heading" id="accessiblewhendisabled" tabindex="-1"><a href="#accessiblewhendisabled">accessibleWhenDisabled</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Whether to keep the button focusable when disabled.</p>
<p>In most cases, it is recommended to set this to <code>true</code>. Disabling a control without maintaining focusability<br/>
can cause accessibility issues, by hiding their presence from screen reader users,<br/>
or by preventing focus from returning to a trigger element.</p>
<p>Learn more about the <a href="https://www.w3.org/WAI/ARIA/apg/practices/keyboard-interface/#focusabilityofdisabledcontrols">focusability of disabled controls</a><br/>
in the WAI-ARIA Authoring Practices Guide.</p>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>The button’s children.</p>
<h3 class="is-toc-heading" id="description" tabindex="-1"><a href="#description">description</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>A visually hidden accessible description for the button.</p>
<h3 class="is-toc-heading" id="disabled" tabindex="-1"><a href="#disabled">disabled</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Whether the button is disabled. If <code>true</code>, this will force a <code>button</code> element<br/>
to be rendered, even when an <code>href</code> is given.</p>
<p>In most cases, it is recommended to also set the <code>accessibleWhenDisabled</code> prop to <code>true</code>.</p>
<h3 class="is-toc-heading" id="href" tabindex="-1"><a href="#href">href</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: Yes</li>
</ul>
<p>If provided, renders <code>a</code> instead of <code>button</code>.</p>
<h3 class="is-toc-heading" id="icon" tabindex="-1"><a href="#icon">icon</a></h3>
<ul>
<li>Type: <code>IconType</code></li>
<li>Required: No</li>
</ul>
<p>If provided, renders an Icon component inside the button.</p>
<h3 class="is-toc-heading" id="iconposition" tabindex="-1"><a href="#iconposition">iconPosition</a></h3>
<ul>
<li>Type: <code>"left" | "right"</code></li>
<li>Required: No</li>
<li>Default: <code>'left'</code></li>
</ul>
<p>If provided with <code>icon</code>, sets the position of icon relative to the <code>text</code>.</p>
<h3 class="is-toc-heading" id="iconsize" tabindex="-1"><a href="#iconsize">iconSize</a></h3>
<ul>
<li>Type: <code>number</code></li>
<li>Required: No</li>
</ul>
<p>If provided with <code>icon</code>, sets the icon size.<br/>
Please refer to the Icon component for more details regarding<br/>
the default value of its <code>size</code> prop.</p>
<h3 class="is-toc-heading" id="isbusy" tabindex="-1"><a href="#isbusy">isBusy</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Indicates activity while a action is being performed.</p>
<h3 class="is-toc-heading" id="isdestructive" tabindex="-1"><a href="#isdestructive">isDestructive</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Renders a red text-based button style to indicate destructive behavior.</p>
<h3 class="is-toc-heading" id="ispressed" tabindex="-1"><a href="#ispressed">isPressed</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Renders a pressed button style.</p>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Sets the <code>aria-label</code> of the component, if none is provided.<br/>
Sets the Tooltip content if <code>showTooltip</code> is provided.</p>
<h3 class="is-toc-heading" id="shortcut" tabindex="-1"><a href="#shortcut">shortcut</a></h3>
<ul>
<li>Type: <code>string | { display: string; ariaLabel: string; }</code></li>
<li>Required: No</li>
</ul>
<p>If provided with <code>showTooltip</code>, appends the Shortcut label to the tooltip content.<br/>
If an object is provided, it should contain <code>display</code> and <code>ariaLabel</code> keys.</p>
<h3 class="is-toc-heading" id="showtooltip" tabindex="-1"><a href="#showtooltip">showTooltip</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>If provided, renders a Tooltip component for the button.</p>
<h3 class="is-toc-heading" id="size" tabindex="-1"><a href="#size">size</a></h3>
<ul>
<li>Type: <code>"small" | "default" | "compact"</code></li>
<li>Required: No</li>
<li>Default: <code>'default'</code></li>
</ul>
<p>The size of the button.</p>
<ul>
<li><code>'default'</code>: For normal text-label buttons, unless it is a toggle button.</li>
<li><code>'compact'</code>: For toggle buttons, icon buttons, and buttons when used in context of either.</li>
<li><code>'small'</code>: For icon buttons associated with more advanced or auxiliary features.</li>
</ul>
<p>If the deprecated <code>isSmall</code> prop is also defined, this prop will take precedence.</p>
<h3 class="is-toc-heading" id="text" tabindex="-1"><a href="#text">text</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>If provided, displays the given text inside the button. If the button contains children elements, the text is displayed before them.</p>
<h3 class="is-toc-heading" id="tooltipposition" tabindex="-1"><a href="#tooltipposition">tooltipPosition</a></h3>
<ul>
<li>Type: <code>"top" | "middle" | "bottom" | "top center" | "top left" | "top right" | "middle center" | "middle left" | "middle right" | "bottom center" | ...</code></li>
<li>Required: No</li>
</ul>
<p>If provided with <code>showTooltip</code>, sets the position of the tooltip.<br/>
Please refer to the Tooltip component for more details regarding the defaults.</p>
<h3 class="is-toc-heading" id="target" tabindex="-1"><a href="#target">target</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>If provided with <code>href</code>, sets the <code>target</code> attribute to the <code>a</code>.</p>
<h3 class="is-toc-heading" id="variant" tabindex="-1"><a href="#variant">variant</a></h3>
<ul>
<li>Type: <code>"link" | "primary" | "secondary" | "tertiary"</code></li>
<li>Required: No</li>
</ul>
<p>Specifies the button’s style.</p>
<p>The accepted values are:</p>
<ol>
<li><code>'primary'</code> (the primary button styles)</li>
<li><code>'secondary'</code> (the default button styles)</li>
<li><code>'tertiary'</code> (the text-based button styles)</li>
<li><code>'link'</code> (the link button styles)</li>
</ol>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
