
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">KeyboardShortcuts</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>KeyboardShortcuts</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>&lt;KeyboardShortcuts /&gt;</code> is a component which handles keyboard sequences during the lifetime of the rendering element.</p>
<p>When passed children, it will capture key events which occur on or within the children. If no children are passed, events are captured on the document.</p>
<p>It uses the <a href="https://craig.is/killing/mice">Mousetrap</a> library to implement keyboard sequence bindings.</p>
<h2 class="is-toc-heading" id="example" tabindex="-1"><a href="#example">Example</a></h2>
<p>Render <code>&lt;KeyboardShortcuts /&gt;</code> with a <code>shortcuts</code> prop object:</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { KeyboardShortcuts } from '@wordpress/components';

const MyKeyboardShortcuts = () =&gt; {
    const [ isAllSelected, setIsAllSelected ] = useState( false );
    const selectAll = () =&gt; {
        setIsAllSelected( true );
    };

    return (
        &lt;div&gt;
            &lt;KeyboardShortcuts
                shortcuts={ {
                    'mod+a': selectAll,
                } }
            /&gt;
            [cmd/ctrl + A] Combination pressed? { isAllSelected ? 'Yes' : 'No' }
        &lt;/div&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props:</p>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<p>Elements to render, upon whom key events are to be monitored.</p>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="shortcuts" tabindex="-1"><a href="#shortcuts">shortcuts</a></h3>
<p>An object of shortcut bindings, where each key is a keyboard combination, the value of which is the callback to be invoked when the key combination is pressed.</p>
<ul>
<li>Type: <code>Object</code></li>
<li>Required: Yes</li>
</ul>
<p><strong>Note:</strong> The value of each shortcut should be a consistent function reference, not an anonymous function. Otherwise, the callback will not be correctly unbound when the component unmounts.</p>
<p><strong>Note:</strong> The <code>KeyboardShortcuts</code> component will not update to reflect a changed <code>shortcuts</code> prop. If you need to change shortcuts, mount a separate <code>KeyboardShortcuts</code> element, which can be achieved by assigning a unique <code>key</code> prop.</p>
<h3 class="is-toc-heading" id="bindglobal" tabindex="-1"><a href="#bindglobal">bindGlobal</a></h3>
<p>By default, a callback will not be invoked if the key combination occurs in an editable field. Pass <code>bindGlobal</code> as <code>true</code> if the key events should be observed globally, including within editable fields.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
</ul>
<p><em>Tip:</em> If you need some but not all keyboard events to be observed globally, simply render two distinct <code>KeyboardShortcuts</code> elements, one with and one without the <code>bindGlobal</code> prop.</p>
<h3 class="is-toc-heading" id="eventname" tabindex="-1"><a href="#eventname">eventName</a></h3>
<p>By default, a callback is invoked in response to the <code>keydown</code> event. To override this, pass <code>eventName</code> with the name of a specific keyboard event.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h2 class="is-toc-heading" id="references" tabindex="-1"><a href="#references">References</a></h2>
<ul>
<li><a href="https://craig.is/killing/mice">Mousetrap documentation</a></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
