
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">TreeSelect</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>TreeSelect</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-treeselect--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p>Generates a hierarchical select input.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { TreeSelect } from '@wordpress/components';

const MyTreeSelect = () =&gt; {
    const [ page, setPage ] = useState( 'p21' );

    return (
        &lt;TreeSelect
            __nextHasNoMarginBottom
            __next40pxDefaultSize
            label="Parent page"
            noOptionLabel="No parent page"
            onChange={ ( newPage ) =&gt; setPage( newPage ) }
            selectedId={ page }
            tree={ [
                {
                    name: 'Page 1',
                    id: 'p1',
                    children: [
                        { name: 'Descend 1 of page 1', id: 'p11' },
                        { name: 'Descend 2 of page 1', id: 'p12' },
                    ],
                },
                {
                    name: 'Page 2',
                    id: 'p2',
                    children: [
                        {
                            name: 'Descend 1 of page 2',
                            id: 'p21',
                            children: [
                                {
                                    name: 'Descend 1 of Descend 1 of page 2',
                                    id: 'p211',
                                },
                            ],
                        },
                    ],
                },
            ] }
        /&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<h3 class="is-toc-heading" id="__nexthasnomarginbottom" tabindex="-1"><a href="#__nexthasnomarginbottom">__nextHasNoMarginBottom</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>As an alternative to the <code>options</code> prop, <code>optgroup</code>s and <code>options</code> can be<br/>
passed in as <code>children</code> for more customizability.</p>
<h3 class="is-toc-heading" id="disabled" tabindex="-1"><a href="#disabled">disabled</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>If true, the <code>input</code> will be disabled.</p>
<h3 class="is-toc-heading" id="hidelabelfromvision" tabindex="-1"><a href="#hidelabelfromvision">hideLabelFromVision</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>If true, the label will only be visible to screen readers.</p>
<h3 class="is-toc-heading" id="help" tabindex="-1"><a href="#help">help</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Additional description for the control.</p>
<p>Only use for meaningful description or instructions for the control. An element containing the description will be programmatically associated to the BaseControl by the means of an <code>aria-describedby</code> attribute.</p>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>If this property is added, a label will be generated using label property as the content.</p>
<h3 class="is-toc-heading" id="labelposition" tabindex="-1"><a href="#labelposition">labelPosition</a></h3>
<ul>
<li>Type: <code>"top" | "bottom" | "side" | "edge"</code></li>
<li>Required: No</li>
<li>Default: <code>'top'</code></li>
</ul>
<p>The position of the label.</p>
<h3 class="is-toc-heading" id="nooptionlabel" tabindex="-1"><a href="#nooptionlabel">noOptionLabel</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>If this property is added, an option will be added with this label to represent empty selection.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>(value: string, extra?: { event?: ChangeEvent&lt;HTMLSelectElement&gt;; }) =&gt; void</code></li>
<li>Required: No</li>
</ul>
<p>A function that receives the value of the new option that is being selected as input.</p>
<h3 class="is-toc-heading" id="options" tabindex="-1"><a href="#options">options</a></h3>
<ul>
<li>Type: <code>readonly ({ label: string; value: string; } &amp; Omit&lt;OptionHTMLAttributes&lt;HTMLOptionElement&gt;, "label" | "value"&gt;)[]</code></li>
<li>Required: No</li>
</ul>
<p>An array of option property objects to be rendered,<br/>
each with a <code>label</code> and <code>value</code> property, as well as any other<br/>
<code>&lt;option&gt;</code> attributes.</p>
<h3 class="is-toc-heading" id="prefix" tabindex="-1"><a href="#prefix">prefix</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Renders an element on the left side of the input.</p>
<p>By default, the prefix is aligned with the edge of the input border, with no padding.<br/>
If you want to apply standard padding in accordance with the size variant, wrap the element in<br/>
the provided <code>&lt;InputControlPrefixWrapper&gt;</code> component.</p>
<pre><code class="language-jsx">import {
  __experimentalInputControl as InputControl,
  __experimentalInputControlPrefixWrapper as InputControlPrefixWrapper,
} from '@wordpress/components';

&lt;InputControl
  prefix={&lt;InputControlPrefixWrapper&gt;@&lt;/InputControlPrefixWrapper&gt;}
/&gt;
</code></pre>
<h3 class="is-toc-heading" id="selectedid" tabindex="-1"><a href="#selectedid">selectedId</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The id of the currently selected node.</p>
<h3 class="is-toc-heading" id="size" tabindex="-1"><a href="#size">size</a></h3>
<ul>
<li>Type: <code>"default" | "small" | "compact" | "__unstable-large"</code></li>
<li>Required: No</li>
<li>Default: <code>'default'</code></li>
</ul>
<p>Adjusts the size of the input.</p>
<h3 class="is-toc-heading" id="suffix" tabindex="-1"><a href="#suffix">suffix</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Renders an element on the right side of the input.</p>
<p>By default, the suffix is aligned with the edge of the input border, with no padding.<br/>
If you want to apply standard padding in accordance with the size variant, wrap the element in<br/>
the provided <code>&lt;InputControlSuffixWrapper&gt;</code> component.</p>
<pre><code class="language-jsx">import {
  __experimentalInputControl as InputControl,
  __experimentalInputControlSuffixWrapper as InputControlSuffixWrapper,
} from '@wordpress/components';

&lt;InputControl
  suffix={&lt;InputControlSuffixWrapper&gt;%&lt;/InputControlSuffixWrapper&gt;}
/&gt;
</code></pre>
<h3 class="is-toc-heading" id="tree" tabindex="-1"><a href="#tree">tree</a></h3>
<ul>
<li>Type: <code>Tree[]</code></li>
<li>Required: No</li>
</ul>
<p>An array containing the tree objects with the possible nodes the user can select.</p>
<h3 class="is-toc-heading" id="variant" tabindex="-1"><a href="#variant">variant</a></h3>
<ul>
<li>Type: <code>"default" | "minimal"</code></li>
<li>Required: No</li>
<li>Default: <code>'default'</code></li>
</ul>
<p>The style variant of the control.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
