
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Panel</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Panel</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Panels expand and collapse multiple sections of content.</p>
<p><img alt="" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/panel.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<h3 class="is-toc-heading" id="anatomy" tabindex="-1"><a href="#anatomy">Anatomy</a></h3>
<p>A Panel is a single section of content that can be expanded or collapsed as needed.</p>
<p><img alt="Panel anatomy" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/panel-anatomy.png?ssl=1"/></p>
<ol>
<li>Panel</li>
<li>Body</li>
<li>Divider</li>
</ol>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<p>Panels show and hide details of list items by expanding and collapsing list content vertically. Panels help users see only the content they need.</p>
<h4>When to use Panels</h4>
<p>Use Panels when it’s helpful to:</p>
<ul>
<li>See an overview of multiple, related sections of content.</li>
<li>Show and hide those sections as needed.</li>
<li>Hide information that is lower priority that users don’t need to see all the time.</li>
<li>View more than one section at a time.</li>
</ul>
<p>Consider an alternative component when:</p>
<ul>
<li>There’s crucial information or error messages that require immediate action.</li>
<li>You need to quickly switch between only a few sections (consider using Tabs instead).</li>
</ul>
<h3 class="is-toc-heading" id="behavior" tabindex="-1"><a href="#behavior">Behavior</a></h3>
<h4>Expand and collapse</h4>
<p>Show and hide details of existing panel items by expanding and collapsing list content vertically.</p>
<p><img alt="" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/panel-expand.gif?ssl=1"/></p>
<p>Collapsible panels are indicated with a caret icon that is flipped when expanded. Carets are preferable over a plus or arrow icon, because a plus indicates addition, and arrows are closely related to navigation.</p>
<p>Panels should be expanded by default if the content is important or essential. Panels that are open by default should appear at the top.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<p>The <code>Panel</code> creates a container with a header that can take collapsible <code>PanelBody</code> components to easily create a user friendly interface for affecting state and attributes.</p>
<h3 class="is-toc-heading" id="usage-2" tabindex="-1"><a href="#usage-2">Usage</a></h3>
<pre><code class="language-jsx">import { Panel, PanelBody, PanelRow } from '@wordpress/components';
import { more } from '@wordpress/icons';

const MyPanel = () =&gt; (
    &lt;Panel header="My Panel"&gt;
        &lt;PanelBody title="My Block Settings" icon={ more } initialOpen={ true }&gt;
            &lt;PanelRow&gt;My Panel Inputs and Labels&lt;/PanelRow&gt;
        &lt;/PanelBody&gt;
    &lt;/Panel&gt;
);
</code></pre>
<h3 class="is-toc-heading" id="sub-components" tabindex="-1"><a href="#sub-components">Sub-Components</a></h3>
<h4>Panel</h4>
<h5>Props</h5>
<h6><code>header</code>: <code>string</code></h6>
<p>The text that will be rendered as the title of the panel. Text will be rendered inside an<br/>
<code>&lt;h2&gt;</code> tag.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>className</code>: <code>string</code></h6>
<p>The CSS class to apply to the wrapper element.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>children</code>: <code>React.ReactNode</code></h6>
<p>The content to display within the panel row.</p>
<ul>
<li>Required: Yes</li>
</ul>
<hr/>
<h4>PanelBody</h4>
<p>The <code>PanelBody</code> creates a collapsible container that can be toggled open or closed.</p>
<h5>Props</h5>
<h6><code>title</code>: <code>string</code></h6>
<p>Title text. It shows even when the component is closed.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>opened</code>: <code>boolean</code></h6>
<p>When set to <code>true</code>, the component will remain open regardless of the <code>initialOpen</code> prop and the<br/>
panel will be prevented from being closed.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>className</code>: <code>string</code></h6>
<p>The CSS class to apply to the wrapper element.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>icon</code>: <code>JSX.Element</code></h6>
<p>An icon to be shown next to the title.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>onToggle</code>: <code>( next: boolean ) =&gt; void;</code></h6>
<p>A function that is called any time the component is toggled from its closed state to its<br/>
opened state, or vice versa.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>noop</code></li>
</ul>
<h6><code>initialOpen</code>: <code>boolean</code></h6>
<p>Whether or not the panel will start open.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h6><code>children</code>: <code>| React.ReactNode | ( ( props: { opened: boolean } ) =&gt; React.ReactNode )</code></h6>
<p>The content to display in the <code>PanelBody</code>. If a function is provided for this prop, it will receive an object with the <code>opened</code> prop as an argument.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>buttonProps</code>: <code>WordPressComponentProps&lt;Omit&lt; ButtonAsButtonProps, 'icon' &gt;, 'button', false&gt;</code></h6>
<p>Props that are passed to the <code>Button</code> component in title within the <code>PanelBody</code>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>{}</code></li>
</ul>
<h6><code>scrollAfterOpen</code>: <code>boolean</code></h6>
<p>Scrolls the content into view when visible. This improves the UX when multiple <code>PanelBody</code><br/>
components are stacked in a scrollable container.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<hr/>
<h4>PanelRow</h4>
<p><code>PanelRow</code> is a generic container for rows within a <code>PanelBody</code>. It is a flex container with a top margin for spacing.</p>
<h5>Props</h5>
<h6><code>className</code>: <code>string</code></h6>
<p>The CSS class to apply to the wrapper element.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>children</code>: <code>React.ReactNode</code></h6>
<p>The content to display within the panel row.</p>
<ul>
<li>Required: No</li>
</ul>
<h5>Ref</h5>
<p>PanelRow accepts a forwarded ref that will be added to the wrapper div. Usage:</p>
<p><code>&lt;PanelRow className="edit-post-post-schedule" ref={ panelRowRef }&gt;</code></p>
<hr/>
<h4>PanelHeader</h4>
<p><code>PanelHeader</code> renders the header for the <code>Panel</code>. This is used by the <code>Panel</code> component under the hood, so it does not typically need to be used.</p>
<h5>Props</h5>
<h6><code>label</code>: <code>string</code></h6>
<p>The text that will be rendered as the title of the <code>Panel</code>. Will be rendered in an <code>&lt;h2&gt;</code> tag.</p>
<ul>
<li>Required: No</li>
</ul>
<h6><code>children</code>: <code>React.ReactNode</code></h6>
<p>The content to display within the panel row.</p>
<ul>
<li>Required: No</li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To divide related sections of content accessed by a horizontal menu, use <code>TabPanel</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
