
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">UnitControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>UnitControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>UnitControl</code> allows the user to set a numeric quantity as well as a unit (e.g. <code>px</code>).</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { __experimentalUnitControl as UnitControl } from '@wordpress/components';

const Example = () =&gt; {
    const [ value, setValue ] = useState( '10px' );

    return &lt;UnitControl __next40pxDefaultSize onChange={ setValue } value={ value } /&gt;;
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="disableunits-boolean" tabindex="-1"><a href="#disableunits-boolean">disableUnits: boolean</a></h3>
<p>If true, the unit <code>&lt;select&gt;</code> is hidden.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="ispressentertochange-boolean" tabindex="-1"><a href="#ispressentertochange-boolean">isPressEnterToChange: boolean</a></h3>
<p>If <code>true</code>, the <code>ENTER</code> key press is required in order to trigger an <code>onChange</code>. If enabled, a change is also triggered when tabbing away (<code>onBlur</code>).</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="isresetvalueonunitchange-boolean" tabindex="-1"><a href="#isresetvalueonunitchange-boolean">isResetValueOnUnitChange: boolean</a></h3>
<p>If <code>true</code>, and the selected unit provides a <code>default</code> value, this value is set when changing units.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="isunitselecttabbable-boolean" tabindex="-1"><a href="#isunitselecttabbable-boolean">isUnitSelectTabbable: boolean</a></h3>
<p>Determines if the unit <code>&lt;select&gt;</code> is tabbable.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>If this property is added, a label will be generated using label property as the content.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="labelposition-string" tabindex="-1"><a href="#labelposition-string">labelPosition: string</a></h3>
<p>The position of the label (<code>top</code>, <code>side</code>, <code>bottom</code>, or <code>edge</code>).</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onblur-focuseventhandler-htmlinputelement-htmlselectelement" tabindex="-1"><a href="#onblur-focuseventhandler-htmlinputelement-htmlselectelement">onBlur: FocusEventHandler&lt; HTMLInputElement | HTMLSelectElement &gt;</a></h3>
<p>Callback invoked when either the quantity or unit inputs fire the <code>blur</code> event.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onfocus-focuseventhandler-htmlinputelement-htmlselectelement" tabindex="-1"><a href="#onfocus-focuseventhandler-htmlinputelement-htmlselectelement">onFocus: FocusEventHandler&lt; HTMLInputElement | HTMLSelectElement &gt;</a></h3>
<p>Callback invoked when either the quantity or unit inputs fire the <code>focus</code> event.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onchange-unitcontrolonchangecallback" tabindex="-1"><a href="#onchange-unitcontrolonchangecallback">onChange: UnitControlOnChangeCallback</a></h3>
<p>Callback when the <code>value</code> changes.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onunitchange-unitcontrolonchangecallback" tabindex="-1"><a href="#onunitchange-unitcontrolonchangecallback">onUnitChange: UnitControlOnChangeCallback</a></h3>
<p>Callback when the <code>unit</code> changes.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="size-string" tabindex="-1"><a href="#size-string">size: string</a></h3>
<p>Adjusts the size of the input.<br/>
Sizes include: <code>default</code>, <code>small</code></p>
<ul>
<li>Required: No</li>
<li>Default: <code>default</code></li>
</ul>
<h3 class="is-toc-heading" id="unit-string" tabindex="-1"><a href="#unit-string">unit: string</a></h3>
<p>Deprecated: Current unit value.<br/>
Instead, provide a unit with a value through the <code>value</code> prop.</p>
<p>Example:</p>
<pre><code class="language-jsx">&lt;UnitControl value="50%" /&gt;
</code></pre>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="units-wpunitcontrolunit" tabindex="-1"><a href="#units-wpunitcontrolunit">units: WPUnitControlUnit[]</a></h3>
<p>Collection of available units.</p>
<ul>
<li>Required: No</li>
</ul>
<p>Example:</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { __experimentalUnitControl as UnitControl } from '@wordpress/components';

const Example = () =&gt; {
    const [ value, setValue ] = useState( '10px' );

    const units = [
        { value: 'px', label: 'px', default: 0 },
        { value: '%', label: '%', default: 10 },
        { value: 'em', label: 'em', default: 0 },
    ];

    return (
        &lt;UnitControl __next40pxDefaultSize onChange={ setValue } value={ value } units={ units } /&gt;
    );
};
</code></pre>
<p>A <code>default</code> value (in the example above, <code>10</code> for <code>%</code>), if defined, is set as the new <code>value</code> when a unit changes. This is helpful in scenarios where changing a unit may cause drastic results, such as changing from <code>px</code> to <code>vh</code>.</p>
<h3 class="is-toc-heading" id="value-number-string" tabindex="-1"><a href="#value-number-string">value: number | string</a></h3>
<p>Current value. If passed as a string, the current unit will be inferred from this value.<br/>
For example, a <code>value</code> of <code>50%</code> will set the current unit to <code>%</code>.</p>
<p>Example:</p>
<pre><code class="language-jsx">&lt;UnitControl __next40pxDefaultSize value="50%" /&gt;
</code></pre>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="__next40pxdefaultsize-boolean" tabindex="-1"><a href="#__next40pxdefaultsize-boolean">__next40pxDefaultSize: boolean</a></h3>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
