
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Animate</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Animate</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Simple interface to introduce animations to components.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { Animate, Notice } from '@wordpress/components';

const MyAnimatedNotice = () =&gt; (
    &lt;Animate type="slide-in" options={ { origin: 'top' } }&gt;
        { ( { className } ) =&gt; (
            &lt;Notice className={ className } status="success"&gt;
                &lt;p&gt;Animation finished.&lt;/p&gt;
            &lt;/Notice&gt;
        ) }
    &lt;/Animate&gt;
);
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<figure class="wp-block-table is-style-borderless"><table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>type</code></td>
<td><code>string</code></td>
<td><code>undefined</code></td>
<td>Type of the animation to use.</td>
</tr>
<tr>
<td><code>options</code></td>
<td><code>object</code></td>
<td><code>{}</code></td>
<td>Options of the chosen animation.</td>
</tr>
<tr>
<td><code>children</code></td>
<td><code>function</code></td>
<td><code>undefined</code></td>
<td>A callback receiving a list of props ( <code>className</code> ) to apply to the DOM element to animate.</td>
</tr>
</tbody>
</table></figure>
<h2 class="is-toc-heading" id="available-animation-types" tabindex="-1"><a href="#available-animation-types">Available Animation Types</a></h2>
<h3 class="is-toc-heading" id="appear" tabindex="-1"><a href="#appear">appear</a></h3>
<p>This animation is meant for popover/modal content, such as menus appearing. It shows the height and width of the animated element scaling from 0 to full size, from its point of origin.</p>
<h4>Options</h4>
<figure class="wp-block-table is-style-borderless"><table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>origin</code></td>
<td><code>string</code></td>
<td><code>top center</code></td>
<td>Point of origin (<code>top</code>, <code>bottom</code>,<code>middle right</code>, <code>left</code>, <code>center</code>).</td>
</tr>
</tbody>
</table></figure>
<h3 class="is-toc-heading" id="loading" tabindex="-1"><a href="#loading">loading</a></h3>
<p>This animation is meant to be used to indicate that activity is happening in the background. It is an infinitely-looping fade from 50% to full opacity. This animation has no options, and should be removed as soon as its relevant operation is completed.</p>
<h3 class="is-toc-heading" id="slide-in" tabindex="-1"><a href="#slide-in">slide-in</a></h3>
<p>This animation is meant for sidebars and sliding menus. It shows the height and width of the animated element moving from a hidden position to its normal one.</p>
<h4>Options</h4>
<figure class="wp-block-table is-style-borderless"><table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>origin</code></td>
<td><code>string</code></td>
<td><code>left</code></td>
<td>Point of origin (<code>left</code>).</td>
</tr>
</tbody>
</table></figure>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
