
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Spacer</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Spacer</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>Spacer</code> is a primitive layout component that providers inner (<code>padding</code>) or outer (<code>margin</code>) space in-between components. It can also be used to adaptively provide space within an <code>HStack</code> or <code>VStack</code>.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p><code>Spacer</code> comes with a bunch of shorthand props to adjust <code>margin</code> and <code>padding</code>. The values of these props work as a multiplier to the library’s grid system (base of <code>4px</code>).</p>
<pre><code class="language-jsx">import {
    __experimentalSpacer as Spacer,
    __experimentalHeading as Heading,
    __experimentalView as View,
} from '@wordpress/components';

function Example() {
    return (
        &lt;View&gt;
            &lt;Spacer&gt;
                &lt;Heading&gt;WordPress.org&lt;/Heading&gt;
            &lt;/Spacer&gt;
            &lt;Text&gt;Code is Poetry&lt;/Text&gt;
        &lt;/View&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="children-reactnode" tabindex="-1"><a href="#children-reactnode">children: ReactNode</a></h3>
<p>The children elements.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="margin-number" tabindex="-1"><a href="#margin-number">margin: number</a></h3>
<p>Adjusts all margins.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="marginbottom-number" tabindex="-1"><a href="#marginbottom-number">marginBottom: number</a></h3>
<p>Adjusts bottom margin, potentially overriding the value from the more generic <code>margin</code> and <code>marginY</code> props.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>2</code></li>
</ul>
<h3 class="is-toc-heading" id="marginleft-number" tabindex="-1"><a href="#marginleft-number">marginLeft: number</a></h3>
<p>Adjusts left margin, potentially overriding the value from the more generic <code>margin</code> and <code>marginX</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="marginright-number" tabindex="-1"><a href="#marginright-number">marginRight: number</a></h3>
<p>Adjusts right margin, potentially overriding the value from the more generic <code>margin</code> and <code>marginX</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="margintop-number" tabindex="-1"><a href="#margintop-number">marginTop: number</a></h3>
<p>Adjusts top margin, potentially overriding the value from the more generic <code>margin</code> and <code>marginY</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="marginx-number" tabindex="-1"><a href="#marginx-number">marginX: number</a></h3>
<p>Adjusts left and right margins, potentially overriding the value from the more generic <code>margin</code> prop.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="marginy-number" tabindex="-1"><a href="#marginy-number">marginY: number</a></h3>
<p>Adjusts top and bottom margins, potentially overriding the value from the more generic <code>margin</code> prop.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="padding-number" tabindex="-1"><a href="#padding-number">padding: number</a></h3>
<p>Adjusts all padding.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingbottom-number" tabindex="-1"><a href="#paddingbottom-number">paddingBottom: number</a></h3>
<p>Adjusts bottom padding, potentially overriding the value from the more generic <code>padding</code> and <code>paddingY</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingleft-number" tabindex="-1"><a href="#paddingleft-number">paddingLeft: number</a></h3>
<p>Adjusts left padding, potentially overriding the value from the more generic <code>padding</code> and <code>paddingX</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingright-number" tabindex="-1"><a href="#paddingright-number">paddingRight: number</a></h3>
<p>Adjusts right padding, potentially overriding the value from the more generic <code>padding</code> and <code>paddingX</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingtop-number" tabindex="-1"><a href="#paddingtop-number">paddingTop: number</a></h3>
<p>Adjusts top padding, potentially overriding the value from the more generic <code>padding</code> and <code>paddingY</code> props.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingx-number" tabindex="-1"><a href="#paddingx-number">paddingX: number</a></h3>
<p>Adjusts left and right padding, potentially overriding the value from the more generic <code>padding</code> prop.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="paddingy-number" tabindex="-1"><a href="#paddingy-number">paddingY: number</a></h3>
<p>Adjusts top and bottom padding, potentially overriding the value from the more generic <code>padding</code> prop.</p>
<ul>
<li>Required: No</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
