
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">FocalPointPicker</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>FocalPointPicker</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Focal Point Picker is a component which creates a UI for identifying the most important visual point of an image. This component addresses a specific problem: with large background images it is common to see undesirable crops, especially when viewing on smaller viewports such as mobile phones. This component allows the selection of the point with the most important visual information and returns it as a pair of numbers between 0 and 1. This value can be easily converted into the CSS <code>background-position</code> attribute, and will ensure that the focal point is never cropped out, regardless of viewport.</p>
<ul>
<li>Example focal point picker value: <code>{ x: 0.5, y: 0.1 }</code></li>
<li>Corresponding CSS: <code>background-position: 50% 10%;</code></li>
</ul>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { FocalPointPicker } from '@wordpress/components';

const Example = () =&gt; {
    const [ focalPoint, setFocalPoint ] = useState( {
        x: 0.5,
        y: 0.5,
    } );

    const url = '/path/to/image';

    /* Example function to render the CSS styles based on Focal Point Picker value */
    const style = {
        backgroundImage: `url(${ url })`,
        backgroundPosition: `${ focalPoint.x * 100 }% ${ focalPoint.y * 100 }%`,
    };

    return (
        &lt;&gt;
            &lt;FocalPointPicker
              __nextHasNoMarginBottom
                url={ url }
                value={ focalPoint }
                onDragStart={ setFocalPoint }
                onDrag={ setFocalPoint }
                onChange={ setFocalPoint }
            /&gt;
            &lt;div style={ style } /&gt;
        &lt;/&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="url" tabindex="-1"><a href="#url">url</a></h3>
<ul>
<li>Type: <code>Text</code></li>
<li>Required: Yes</li>
</ul>
<p>URL of the image or video to be displayed</p>
<h3 class="is-toc-heading" id="autoplay" tabindex="-1"><a href="#autoplay">autoPlay</a></h3>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<p>Autoplays HTML5 video. This only applies to video sources (<code>url</code>).</p>
<h3 class="is-toc-heading" id="value" tabindex="-1"><a href="#value">value</a></h3>
<ul>
<li>Type: <code>Object</code></li>
<li>Required: Yes</li>
</ul>
<p>The focal point. Should be an object containing <code>x</code> and <code>y</code> params.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: Yes</li>
</ul>
<p>Callback which is called when the focal point changes.</p>
<h3 class="is-toc-heading" id="ondrag" tabindex="-1"><a href="#ondrag">onDrag</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<p>Callback which is called repetitively during drag operations.</p>
<h3 class="is-toc-heading" id="ondragend" tabindex="-1"><a href="#ondragend">onDragEnd</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<p>Callback which is called at the end of drag operations.</p>
<h3 class="is-toc-heading" id="ondragstart" tabindex="-1"><a href="#ondragstart">onDragStart</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<p>Callback which is called at the start of drag operations.</p>
<h3 class="is-toc-heading" id="resolvepoint" tabindex="-1"><a href="#resolvepoint">resolvePoint</a></h3>
<ul>
<li>Type: <code>Function</code></li>
<li>Required: No</li>
</ul>
<p>Function which is called before internal updates to the value state. It receives the upcoming value and may return a modified one.</p>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<h3 class="is-toc-heading" id="__nexthasnomarginbottom" tabindex="-1"><a href="#__nexthasnomarginbottom">__nextHasNoMarginBottom</a></h3>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
