
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">RadioControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>RadioControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Use radio buttons when you want users to select one option from a set, and you want to show them all the available options at once.</p>
<p><img alt="" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/11/radio.png?ssl=1"/><br/>
Selected and unselected radio buttons</p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<h4>When to use radio buttons</h4>
<p>Use radio buttons when you want users to:</p>
<ul>
<li>Select a single option from a list.</li>
<li>Expose all available options.</li>
</ul>
<p>If you have a list of available options that can be collapsed, consider using a dropdown menu instead, as dropdowns use less space. A country selection field, for instance, would be very large as a group of radio buttons and wouldn’t help the user gain more context by seeing all options at once.</p>
<h4>Do</h4>
<p><img alt='Right: A screenshot showing two radio buttons for "Author" and "Editor", one checked' decoding="async" src="https://github.com/WordPress/gutenberg/assets/10128264/77da4e95-b038-43e7-bd29-11282cc2bac7"/><br/>
Use radio buttons when only one item can be selected from a list.</p>
<h4>Don’t</h4>
<p><img alt='Wrong: A screenshot showing two checkboxes for "Author" and "Editor", one checked' decoding="async" src="https://github.com/WordPress/gutenberg/assets/10128264/214f37a8-2080-4c10-a4b5-b011e0875f18"/><br/>
Don’t use checkboxes when only one item can be selected from a list. Use radio buttons instead.</p>
<h4>Defaults</h4>
<p>When using radio buttons <strong>one should be selected by default</strong> (i.e., when the page loads, in the case of a web application).</p>
<h5>User control</h5>
<p>In most interactions, a user should be able to undo and redo their actions. With most selection controls you can un-choose a selection, but in this instance you cannot click or tap a selected radio button to deselect it—selecting is a final action. The finality isn’t conveyed when none are selected by default. Selecting a radio button by default communicates that the user is required to choose one in the set.</p>
<h5>Expediting tasks</h5>
<p>When one a choice in a set of radio buttons is the most desirable or frequently selected, it’s helpful to select it by default. Doing this reduces the interaction cost and can save the user time and clicks.</p>
<h5>The power of suggestion</h5>
<p>Designs with a radio button selected by default make a strong suggestion to the user. It can help them make the best decision and increase their confidence. (Use this guidance with caution, and only for good.)</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage-2" tabindex="-1"><a href="#usage-2">Usage</a></h3>
<p>Render a user interface to select the user type using radio inputs.</p>
<pre><code class="language-jsx">import { RadioControl } from '@wordpress/components';
import { useState } from 'react';

const MyRadioControl = () =&gt; {
    const [ option, setOption ] = useState( 'a' );

    return (
        &lt;RadioControl
            label="User type"
            help="The type of the current user"
            selected={ option }
            options={ [
                { label: 'Author', value: 'a' },
                { label: 'Editor', value: 'e' },
            ] }
            onChange={ ( value ) =&gt; setOption( value ) }
        /&gt;
    );
};
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<p>The component accepts the following props:</p>
<h4><code>help</code>: <code>string | Element</code></h4>
<p>If this property is added, a help text will be generated using help property as the content.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>hideLabelFromVision</code>: <code>boolean</code></h4>
<p>If true, the label will only be visible to screen readers.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>label</code>: <code>string</code></h4>
<p>If this property is added, a label will be generated using label property as the content.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onChange</code>: <code>( value: string ) =&gt; void</code></h4>
<p>A function that receives the value of the new option that is being selected as input.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>options</code>: <code>{ label: string, value: string }[]</code></h4>
<p>An array of objects containing the value and label of the options.</p>
<ul>
<li><code>label</code>: <code>string</code> The label to be shown to the user.</li>
<li><code>value</code>: <code>string</code> The internal value compared against select and passed to onChange.
</li>
<li>
<p>Required: No</p>
</li>
</ul>
<h4><code>selected</code>: <code>string</code></h4>
<p>The value property of the currently selected option.</p>
<ul>
<li>Required: No</li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To select one or more items from a set, use the <code>CheckboxControl</code> component.</li>
<li>To toggle a single setting on or off, use the <code>ToggleControl</code> component.</li>
<li>To format as a segmented button group, use the <code>ToggleGroupControl</code> component.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
