
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">ToggleGroupControlOption</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>ToggleGroupControlOption</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>ToggleGroupControlOption</code> is a form component and is meant to be used as a child of <a href="https://developer.notmatt.press/block-editor/reference-guide/components/toggle-group-control/toggle-group-control/"><code>ToggleGroupControl</code></a>.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-js">import {
    __experimentalToggleGroupControl as ToggleGroupControl,
    __experimentalToggleGroupControlOption as ToggleGroupControlOption,
} from '@wordpress/components';

function Example() {
    return (
        &lt;ToggleGroupControl
            label="my label"
            value="vertical"
            isBlock
            __nextHasNoMarginBottom
            __next40pxDefaultSize
        &gt;
            &lt;ToggleGroupControlOption
                value="horizontal"
                label="Horizontal"
                showTooltip={ true }
            /&gt;
            &lt;ToggleGroupControlOption value="vertical" label="Vertical" /&gt;
        &lt;/ToggleGroupControl&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>Label for the option. If needed, the <code>aria-label</code> prop can be used in addition to specify a different label for assistive technologies.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="value-string-number" tabindex="-1"><a href="#value-string-number">value: string | number</a></h3>
<p>The value of the <code>ToggleGroupControlOption</code>.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="showtooltip-boolean" tabindex="-1"><a href="#showtooltip-boolean">showTooltip: boolean</a></h3>
<p>Whether to show a tooltip when hovering over the option. The tooltip will attempt to use the <code>aria-label</code> prop text first, then the <code>label</code> prop text if no <code>aria-label</code> prop is found.</p>
<ul>
<li>Required: No</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
