
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">WithNotices</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>WithNotices</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>withNotices</code> is a React <a href="https://facebook.github.io/react/docs/higher-order-components.html">higher-order component</a> used typically in adding the ability to post notice messages within the original component.</p>
<p>Wrapping the original component with <code>withNotices</code> encapsulates the component with the additional props <code>noticeOperations</code>, <code>noticeUI</code>, and <code>noticeList</code>.</p>
<p><strong>noticeOperations</strong><br/>
Contains a number of useful functions to add notices to your site.</p>
<p><a href="#createNotice" name="createNotice">#</a> <strong>createNotice</strong><br/>
Function passed down as a prop that adds a new notice.</p>
<p><em>Parameters</em></p>
<ul>
<li><em>notice</em> <code>object</code>: Notice to add.</li>
</ul>
<p><a href="#createErrorNotice" name="createErrorNotice">#</a> <strong>createErrorNotice</strong><br/>
Function passed as a prop that adds a new error notice.</p>
<p><em>Parameters</em></p>
<ul>
<li><em>msg</em> <code>string</code>: Error message of the notice.</li>
</ul>
<p><a href="#removeAllNotices" name="removeAllNotices">#</a> <strong>removeAllNotices</strong><br/>
Function that removes all notices.</p>
<p><a href="#removeNotice" name="removeNotice">#</a> <strong>removeNotice</strong><br/>
Function that removes notice by ID.</p>
<p><em>Parameters</em></p>
<ul>
<li><em>id</em> <code>string</code>: ID of notice to remove.</li>
</ul>
<p><a href="#noticeUi" name="noticeUi">#</a><strong>noticeUi</strong><br/>
The rendered <code>NoticeList</code>.</p>
<p><a href="#noticeList" name="noticeList">#</a><strong>noticeList</strong><br/>
The array of notice objects to be displayed.</p>
<h2>Usage</h2>
<pre><code class="language-jsx">import { withNotices, Button } from '@wordpress/components';

const MyComponentWithNotices = withNotices(
    ( { noticeOperations, noticeUI } ) =&gt; {
        const addError = () =&gt;
            noticeOperations.createErrorNotice( 'Error message' );
        return (
            &lt;div&gt;
                { noticeUI }
                &lt;Button variant="secondary" onClick={ addError }&gt;
                    Add error
                &lt;/Button&gt;
            &lt;/div&gt;
        );
    }
);
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
