
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">TextControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>TextControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>TextControl components let users enter and edit text.</p>
<p><img alt="Unfilled and filled TextControl components" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/TextControl.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<h4>When to use TextControls</h4>
<p>TextControls are best used for free text entry. If you have a set of predefined options you want users to select from, it’s best to use a more constrained component, such as a SelectControl, RadioControl, CheckboxControl, or RangeControl.</p>
<p>Because TextControls are single-line fields, they are not suitable for collecting long responses. For those, use a text area instead.</p>
<p>TextControls should:</p>
<ul>
<li>Stand out and indicate that users can input information.</li>
<li>Have clearly differentiated states (selected/unselected, active/inactive).</li>
<li>Make it easy to understand the requested information and to address any errors.</li>
<li>Have visible labels; placeholder text is not an acceptable replacement for a label as it vanishes when users start typing.</li>
</ul>
<h3 class="is-toc-heading" id="anatomy" tabindex="-1"><a href="#anatomy">Anatomy</a></h3>
<p><img alt="Features of a TextControl component with numbered labels" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/TextControl-Anatomy.png?ssl=1"/></p>
<ol>
<li>Label</li>
<li>Input container</li>
<li>Input text</li>
</ol>
<h4>Label text</h4>
<p>Label text is used to inform users as to what information is requested for a text field. Every text field should have a label. Label text should be above the input field, and always visible.</p>
<h4>Containers</h4>
<p>Containers improve the discoverability of text fields by creating contrast between the text field and surrounding content.</p>
<p><img alt="A TextControl with a stroke around the container to clearly indicate the input area" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/TextControl-Do.png?ssl=1"/></p>
<p><strong>Do</strong><br/>
A stroke around the container clearly indicates that users can input information.</p>
<p><img alt="A TextControl without a clear visual marker to indicate the input area" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2019/03/TextControl-Dont.png?ssl=1"/></p>
<p><strong>Don’t</strong><br/>
Don’t use unclear visual markers to indicate a text field.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage-2" tabindex="-1"><a href="#usage-2">Usage</a></h3>
<p>Render a user interface to input the name of an additional css class.</p>
<pre><code class="language-js">import { useState } from 'react';
import { TextControl } from '@wordpress/components';

const MyTextControl = () =&gt; {
    const [ className, setClassName ] = useState( '' );

    return (
        &lt;TextControl
            __nextHasNoMarginBottom
            __next40pxDefaultSize
            label="Additional CSS Class"
            value={ className }
            onChange={ ( value ) =&gt; setClassName( value ) }
        /&gt;
    );
};
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<p>The set of props accepted by the component will be specified below.<br/>
Props not included in this set will be applied to the input element.</p>
<h4>label</h4>
<p>If this property is added, a label will be generated using label property as the content.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>hideLabelFromVision</h4>
<p>If true, the label will only be visible to screen readers.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
</ul>
<h4>help</h4>
<p>If this property is added, a help text will be generated using help property as the content.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>type</h4>
<p>Type of the input element to render. Defaults to “text”.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
<li>Default: “text”</li>
</ul>
<h4>value</h4>
<p>The current value of the input.</p>
<ul>
<li>Type: <code>String | Number</code></li>
<li>Required: Yes</li>
</ul>
<h4>className</h4>
<p>The class that will be added with “components-base-control” to the classes of the wrapper div.<br/>
If no className is passed only components-base-control is used.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>onChange</h4>
<p>A function that receives the value of the input.</p>
<ul>
<li>Type: <code>function</code></li>
<li>Required: Yes</li>
</ul>
<h4>__next40pxDefaultSize</h4>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To offer users more constrained options for input, use SelectControl, RadioControl, CheckboxControl, or RangeControl.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
