
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">NavigableContainer</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>NavigableContainer</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>NavigableContainer</code> is a React component to render a container navigable using the keyboard. Only things that are focusable can be navigated to. It will currently always be a <code>div</code>.</p>
<p><code>NavigableContainer</code> is exported as two components: <code>NavigableMenu</code> and <code>TabbableContainer</code>. <code>NavigableContainer</code> itself is <strong>not</strong> exported. <code>NavigableMenu</code> and <code>TabbableContainer</code> have the props listed below. Any other props will be passed through to the <code>div</code>.</p>
<hr/>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>These are the props that <code>NavigableMenu</code> and <code>TabbableContainer</code>. Any props which are specific to one component are labelled appropriately.</p>
<h3 class="is-toc-heading" id="cycle-boolean" tabindex="-1"><a href="#cycle-boolean">cycle: boolean</a></h3>
<p>A boolean which tells the component whether or not to cycle from the end back to the beginning and vice versa.</p>
<ul>
<li>Required: No</li>
<li>default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="eventtooffset-event-keyboardevent-1-0-1-undefined" tabindex="-1"><a href="#eventtooffset-event-keyboardevent-1-0-1-undefined">eventToOffset: ( event: KeyboardEvent ) =&gt; -1 | 0 | 1 | undefined</a></h3>
<p>(TabbableContainer only)<br/>
Gets an offset, given an event.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onkeydown-event-keyboardevent-void" tabindex="-1"><a href="#onkeydown-event-keyboardevent-void">onKeyDown: ( event: KeyboardEvent ) =&gt; void</a></h3>
<p>A callback invoked on the keydown event.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onnavigate-index-number-focusable-htmlelement-void" tabindex="-1"><a href="#onnavigate-index-number-focusable-htmlelement-void">onNavigate: ( index: number, focusable: HTMLElement ) =&gt; void</a></h3>
<p>A callback invoked when the menu navigates to one of its children passing the index and child as an argument</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="orientation-vertical-horizontal-both" tabindex="-1"><a href="#orientation-vertical-horizontal-both">orientation: ‘vertical’ | ‘horizontal’ | ‘both’</a></h3>
<p>(NavigableMenu only)<br/>
The orientation of the menu. It could be “vertical”, “horizontal”, or “both”.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>"vertical"</code></li>
</ul>
<h2 class="is-toc-heading" id="components" tabindex="-1"><a href="#components">Components</a></h2>
<h3 class="is-toc-heading" id="navigablemenu" tabindex="-1"><a href="#navigablemenu">NavigableMenu</a></h3>
<p>A NavigableMenu allows movement up and down (or left and right) the component via the arrow keys. The <code>tab</code> key is not handled. The <code>orientation</code> prop is used to determine whether the arrow keys used are vertical, horizontal or both.</p>
<p>The <code>NavigableMenu</code> by default has a <code>menu</code> role and therefore, in order to function as expected, the component expects its children elements to have one of the following roles: <code>'menuitem' | 'menuitemradio' | 'menuitemcheckbox'</code>.</p>
<h3 class="is-toc-heading" id="tabbablecontainer" tabindex="-1"><a href="#tabbablecontainer">TabbableContainer</a></h3>
<p>A <code>TabbableContainer</code> will only be navigated using the <code>tab</code> key. Every intended tabstop must have a tabIndex <code>0</code>.</p>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<pre><code class="language-jsx">import {
    NavigableMenu,
    TabbableContainer,
    Button,
} from '@wordpress/components';

function onNavigate( index, target ) {
    console.log( `Navigates to ${ index }`, target );
}

const MyNavigableContainer = () =&gt; (
    &lt;div&gt;
        &lt;span&gt;Navigable Menu:&lt;/span&gt;
        &lt;NavigableMenu onNavigate={ onNavigate } orientation="horizontal"&gt;
            &lt;Button variant="secondary"&gt;Item 1&lt;/Button&gt;
            &lt;Button variant="secondary"&gt;Item 2&lt;/Button&gt;
            &lt;Button variant="secondary"&gt;Item 3&lt;/Button&gt;
        &lt;/NavigableMenu&gt;

        &lt;span&gt;Tabbable Container:&lt;/span&gt;
        &lt;TabbableContainer onNavigate={ onNavigate }&gt;
            &lt;Button variant="secondary" tabIndex="0"&gt;
                Section 1
            &lt;/Button&gt;
            &lt;Button variant="secondary" tabIndex="0"&gt;
                Section 2
            &lt;/Button&gt;
            &lt;Button variant="secondary" tabIndex="0"&gt;
                Section 3
            &lt;/Button&gt;
            &lt;Button variant="secondary" tabIndex="0"&gt;
                Section 4
            &lt;/Button&gt;
        &lt;/TabbableContainer&gt;
    &lt;/div&gt;
);
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
