
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Card</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Card</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>Card</code> provides a flexible and extensible content container.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p><code>Card</code> also provides a convenient set of <a href="#sub-components">sub-components</a> such as <code>CardBody</code>, <code>CardHeader</code>, <code>CardFooter</code>, and more (see below).</p>
<pre><code class="language-jsx">import {
    Card,
    CardHeader,
    CardBody,
    CardFooter,
    __experimentalText as Text,
    __experimentalHeading as Heading,
} from '@wordpress/components';

function Example() {
    return (
        &lt;Card&gt;
            &lt;CardHeader&gt;
                &lt;Heading level={ 4 }&gt;Card Title&lt;/Heading&gt;
            &lt;/CardHeader&gt;
            &lt;CardBody&gt;
                &lt;Text&gt;Card Content&lt;/Text&gt;
            &lt;/CardBody&gt;
            &lt;CardFooter&gt;
                &lt;Text&gt;Card Footer&lt;/Text&gt;
            &lt;/CardFooter&gt;
        &lt;/Card&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="elevation-number" tabindex="-1"><a href="#elevation-number">elevation: number</a></h3>
<p>Size of the elevation shadow, based on the Style system’s elevation system. This may be helpful in highlighting certain content. For more information, check out <a href="https://developer.notmatt.press/block-editor/reference-guide/components/elevation/"><code>Elevation</code></a>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>0</code></li>
</ul>
<h3 class="is-toc-heading" id="isborderless-boolean" tabindex="-1"><a href="#isborderless-boolean">isBorderless: boolean</a></h3>
<p>Renders without a border.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="isrounded-boolean" tabindex="-1"><a href="#isrounded-boolean">isRounded: boolean</a></h3>
<p>Renders with rounded corners.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="size-string" tabindex="-1"><a href="#size-string">size: string</a></h3>
<p>Determines the amount of padding within the component.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>medium</code></li>
<li>Allowed values: <code>xSmall</code>, <code>small</code>, <code>medium</code>, <code>large</code></li>
</ul>
<h3 class="is-toc-heading" id="inherited-props" tabindex="-1"><a href="#inherited-props">Inherited props</a></h3>
<p><code>Card</code> also inherits all of the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/surface/#props"><code>Surface</code> props</a>.</p>
<h2 class="is-toc-heading" id="sub-components" tabindex="-1"><a href="#sub-components">Sub-Components</a></h2>
<p>This component provides a collection of sub-component that can be used to compose various interfaces.</p>
<ul>
<li><a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card-body/"><code>&lt;CardBody /&gt;</code></a></li>
<li><a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card-divider/"><code>&lt;CardDivider /&gt;</code></a></li>
<li><a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card-footer/"><code>&lt;CardFooter /&gt;</code></a>)</li>
<li><a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card-header/"><code>&lt;CardHeader /&gt;</code></a>)</li>
<li><a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card-media/"><code>&lt;CardMedia /&gt;</code></a>)</li>
</ul>
<h3 class="is-toc-heading" id="sub-components-example" tabindex="-1"><a href="#sub-components-example">Sub-Components Example</a></h3>
<pre><code class="language-jsx">import {
    Card,
    CardBody,
    CardDivider,
    CardFooter,
    CardHeader,
    CardMedia,
} from '@wordpress/components';

const Example = () =&gt; (
    &lt;Card&gt;
        &lt;CardHeader&gt;...&lt;/CardHeader&gt;
        &lt;CardBody&gt;...&lt;/CardBody&gt;
        &lt;CardDivider /&gt;
        &lt;CardBody&gt;...&lt;/CardBody&gt;
        &lt;CardMedia&gt;
            &lt;img src="..." /&gt;
        &lt;/CardMedia&gt;
        &lt;CardFooter&gt;...&lt;/CardFooter&gt;
    &lt;/Card&gt;
);
</code></pre>
<h3 class="is-toc-heading" id="context" tabindex="-1"><a href="#context">Context</a></h3>
<p><code>&lt;Card /&gt;</code>‘s sub-components are connected to <code>&lt;Card /&gt;</code> using <a href="https://react.dev/learn/passing-data-deeply-with-context">Context</a>. Certain props like <code>size</code> and <code>isBorderless</code> are passed through to some of the sub-components.</p>
<p>In the following example, the <code>&lt;CardBody /&gt;</code> will render with a size of <code>small</code>:</p>
<pre><code class="language-jsx">import { Card, CardBody } from '@wordpress/components';

const Example = () =&gt; (
    &lt;Card size="small"&gt;
        &lt;CardBody&gt;...&lt;/CardBody&gt;
    &lt;/Card&gt;
);
</code></pre>
<p>These sub-components are designed to be flexible. The Context props can be overridden by the sub-component(s) as required. In the following example, the last <code>&lt;CardBody /&gt;</code> will render it’s specified size:</p>
<pre><code class="language-jsx">import { Card, CardBody } from '@wordpress/components';

const Example = () =&gt; (
    &lt;Card size="small"&gt;
        &lt;CardBody&gt;...&lt;/CardBody&gt;
        &lt;CardBody&gt;...&lt;/CardBody&gt;
        &lt;CardBody size="large"&gt;...&lt;/CardBody&gt;
    &lt;/Card&gt;
);
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
