
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Truncate</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Truncate</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>Truncate</code> is a typography primitive that trims text content. For almost all cases, it is recommended that <code>Text</code>, <code>Heading</code>, or <code>Subheading</code> is used to render text content. However, <code>Truncate</code> is available for custom implementations.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { __experimentalTruncate as Truncate } from '@wordpress/components';

function Example() {
    return (
        &lt;Truncate&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ex
            neque, vulputate a diam et, luctus convallis lacus. Vestibulum ac
            mollis mi. Morbi id elementum massa.
        &lt;/Truncate&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="children-reactnode" tabindex="-1"><a href="#children-reactnode">children: ReactNode</a></h3>
<p>The children elements.</p>
<p>Note: text truncation will be attempted only if the <code>children</code> are either of type <code>string</code> or <code>number</code>. In any other scenarios, the component will not attempt to truncate the text, and will pass through the <code>children</code>.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="ellipsis-string" tabindex="-1"><a href="#ellipsis-string">ellipsis: string</a></h3>
<p>The ellipsis string when truncating the text by the <code>limit</code> prop’s value.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>…</code></li>
</ul>
<h3 class="is-toc-heading" id="ellipsizemode-auto-head-tail-middle-none" tabindex="-1"><a href="#ellipsizemode-auto-head-tail-middle-none">ellipsizeMode: ‘auto’ | ‘head’ | ‘tail’ | ‘middle’ | ‘none’</a></h3>
<p>Determines where to truncate. For example, we can truncate text right in the middle. To do this, we need to set <code>ellipsizeMode</code> to <code>middle</code> and a text <code>limit</code>.</p>
<ul>
<li><code>auto</code>: Trims content at the end automatically without a <code>limit</code>.</li>
<li><code>head</code>: Trims content at the beginning. Requires a <code>limit</code>.</li>
<li><code>middle</code>: Trims content in the middle. Requires a <code>limit</code>.</li>
<li><code>tail</code>: Trims content at the end. Requires a <code>limit</code>.
</li>
<li>
<p>Required: No</p>
</li>
<li>Default: <code>auto</code></li>
</ul>
<h3 class="is-toc-heading" id="limit-number" tabindex="-1"><a href="#limit-number">limit: number</a></h3>
<p>Determines the max number of characters to be displayed before the rest of the text gets truncated. Requires <code>ellipsizeMode</code> to assume values different from <code>auto</code> and <code>none</code>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>0</code></li>
</ul>
<h3 class="is-toc-heading" id="numberoflines-number" tabindex="-1"><a href="#numberoflines-number">numberOfLines: number</a></h3>
<p>Clamps the text content to the specified <code>numberOfLines</code>, adding an ellipsis at the end. Note: this feature ignores the value of the <code>ellipsis</code> prop and always displays the default <code>…</code> ellipsis.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>0</code></li>
</ul>
<pre><code class="language-jsx">import { __experimentalTruncate as Truncate } from '@wordpress/components';

function Example() {
    return (
        &lt;Truncate numberOfLines={ 2 }&gt;
            Where the north wind meets the sea, there's a river full of memory.
            Sleep, my darling, safe and sound, for in this river all is found.
            In her waters, deep and true, lay the answers and a path for you.
            Dive down deep into her sound, but not too far or you'll be drowned
        &lt;/Truncate&gt;
    );
}
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
