
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">BorderBoxControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>BorderBoxControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>An input control for the color, style, and width of the border of a box. The<br/>
border can be customized as a whole, or individually for each side of the box.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<p>The <code>BorderBoxControl</code> effectively has two view states. The first, a “linked”<br/>
view, allows configuration of a flat border via a single <code>BorderControl</code>.<br/>
The second, a “split” view, contains a <code>BorderControl</code> for each side<br/>
as well as a visualizer for the currently selected borders. Each view also<br/>
contains a button to toggle between the two.</p>
<p>When switching from the “split” view to “linked”, if the individual side<br/>
borders are not consistent, the “linked” view will display any border properties<br/>
selections that are consistent while showing a mixed state for those that<br/>
aren’t. For example, if all borders had the same color and style but different<br/>
widths, then the border dropdown in the “linked” view’s <code>BorderControl</code> would<br/>
show that consistent color and style but the “linked” view’s width input would<br/>
show “Mixed” placeholder text.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { BorderBoxControl } from '@wordpress/components';
import { __ } from '@wordpress/i18n';

const colors = [
    { name: 'Blue 20', color: '#72aee6' },
    // ...
];

const MyBorderBoxControl = () =&gt; {
    const defaultBorder = {
        color: '#72aee6',
        style: 'dashed',
        width: '1px',
    };
    const [ borders, setBorders ] = useState( {
        top: defaultBorder,
        right: defaultBorder,
        bottom: defaultBorder,
        left: defaultBorder,
    } );
    const onChange = ( newBorders ) =&gt; setBorders( newBorders );

    return (
        &lt;BorderBoxControl
            __next40pxDefaultSize
            colors={ colors }
            label={ __( 'Borders' ) }
            onChange={ onChange }
            value={ borders }
        /&gt;
    );
};
</code></pre>
<p>If you’re using this component outside the editor, you can<br/>
<a href="https://developer.notmatt.press/block-editor/reference-guide/components/#popovers-and-tooltips">ensure <code>Tooltip</code> positioning</a><br/>
for the <code>BorderBoxControl</code>‘s color and style options, by rendering your<br/>
<code>BorderBoxControl</code> with a <code>Popover.Slot</code> further up the element tree and within<br/>
a <code>SlotFillProvider</code> overall.</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="colors-paletteobject-colorobject" tabindex="-1"><a href="#colors-paletteobject-colorobject">colors: ( PaletteObject | ColorObject )[]</a></h3>
<p>An array of color definitions. This may also be a multi-dimensional array where<br/>
colors are organized by multiple origins.</p>
<p>Each color may be an object containing a <code>name</code> and <code>color</code> value.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>[]</code></li>
</ul>
<h3 class="is-toc-heading" id="disablecustomcolors-boolean" tabindex="-1"><a href="#disablecustomcolors-boolean">disableCustomColors: boolean</a></h3>
<p>This toggles the ability to choose custom colors.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="enablealpha-boolean" tabindex="-1"><a href="#enablealpha-boolean">enableAlpha: boolean</a></h3>
<p>This controls whether the alpha channel will be offered when selecting<br/>
custom colors.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="enablestyle-boolean" tabindex="-1"><a href="#enablestyle-boolean">enableStyle: boolean</a></h3>
<p>This controls whether to support border style selections.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="hidelabelfromvision-boolean" tabindex="-1"><a href="#hidelabelfromvision-boolean">hideLabelFromVision: boolean</a></h3>
<p>Provides control over whether the label will only be visible to screen readers.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>If provided, a label will be generated using this as the content.</p>
<p><em>Whether it is visible only to screen readers is controlled via<br/>
<code>hideLabelFromVision</code>.</em></p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onchange-value-object-void" tabindex="-1"><a href="#onchange-value-object-void">onChange: ( value?: Object ) =&gt; void</a></h3>
<p>A callback function invoked when any border value is changed. The value received<br/>
may be a “flat” border object, one that has properties defining individual side<br/>
borders, or <code>undefined</code>.</p>
<p><em>Note: The will be <code>undefined</code> if a user clears all borders.</em></p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="popoverplacement-string" tabindex="-1"><a href="#popoverplacement-string">popoverPlacement: string</a></h3>
<p>The position of the color popovers relative to the control wrapper.</p>
<p>By default, popovers are displayed relative to the button that initiated the popover. By supplying a popover placement, you force the popover to display in a specific location.</p>
<p>The available base placements are ‘top’, ‘right’, ‘bottom’, ‘left’. Each of these base placements has an alignment in the form -start and -end. For example, ‘right-start’, or ‘bottom-end’. These allow you to align the tooltip to the edges of the button, rather than centering it.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="popoveroffset-number" tabindex="-1"><a href="#popoveroffset-number">popoverOffset: number</a></h3>
<p>The space between the popover and the control wrapper.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="size-string" tabindex="-1"><a href="#size-string">size: string</a></h3>
<p>Size of the control.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>default</code></li>
<li>Allowed values: <code>default</code>, <code>__unstable-large</code></li>
</ul>
<h3 class="is-toc-heading" id="value-object" tabindex="-1"><a href="#value-object">value: Object</a></h3>
<p>An object representing the current border configuration.</p>
<p>This may be a “flat” border where the object has <code>color</code>, <code>style</code>, and <code>width</code><br/>
properties or a “split” border which defines the previous properties but for<br/>
each side; <code>top</code>, <code>right</code>, <code>bottom</code>, and <code>left</code>.</p>
<p>Examples:</p>
<pre><code class="language-js">const flatBorder = { color: '#72aee6', style: 'solid', width: '1px' };
const splitBorders = {
    top: { color: '#72aee6', style: 'solid', width: '1px' },
    right: { color: '#e65054', style: 'dashed', width: '2px' },
    bottom: { color: '#68de7c', style: 'solid', width: '1px' },
    left: { color: '#f2d675', style: 'dotted', width: '1em' },
};
</code></pre>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="__next40pxdefaultsize-boolean" tabindex="-1"><a href="#__next40pxdefaultsize-boolean">__next40pxDefaultSize: boolean</a></h3>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
