
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Snackbar</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Snackbar</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Use Snackbars to communicate low priority, non-interruptive messages to the user.</p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<p>A Snackbar displays a succinct message that is cleared out after a small delay. It can also offer the user options, like viewing a published post but these options should also be available elsewhere in the UI.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<p>To display a plain snackbar, pass the message as a <code>children</code> prop:</p>
<pre><code class="language-jsx">const MySnackbarNotice = () =&gt; (
    &lt;Snackbar&gt;Post published successfully.&lt;/Snackbar&gt;
);
</code></pre>
<p>For more complex markup, you can pass any JSX element:</p>
<pre><code class="language-jsx">const MySnackbarNotice = () =&gt; (
    &lt;Snackbar&gt;
        &lt;p&gt;
            An error occurred: &lt;code&gt;{ errorDetails }&lt;/code&gt;.
        &lt;/p&gt;
    &lt;/Snackbar&gt;
);
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<p>The following props are used to control the display of the component.</p>
<h4><code>actions</code>: <code>NoticeAction[]</code></h4>
<p>An array of action objects. Each member object should contain a <code>label</code> and either a <code>url</code> link string or <code>onClick</code> callback function.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>[]</code></li>
</ul>
<h4><code>children</code>: <code>string</code></h4>
<p>The displayed message of a notice. Also used as the spoken message for assistive technology, unless <code>spokenMessage</code> is provided as an alternative message.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>explicitDismiss</code>: <code>boolean</code></h4>
<p>Whether to require user action to dismiss the snackbar. By default, this is dismissed on a timeout, without user interaction.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h4><code>icon</code>: <code>ReactNode</code></h4>
<p>The icon to render in the snackbar.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>null</code></li>
</ul>
<h4><code>listRef</code>: <code>MutableRefObject&lt; HTMLDivElement | null &gt;</code></h4>
<p>A ref to the list that contains the snackbar.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onDismiss</code>: <code>() =&gt; void</code></h4>
<p>A callback executed when the snackbar is dismissed. It is distinct from onRemove, which <em>looks</em> like a callback but is actually the function to call to remove the snackbar from the UI.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onRemove</code>: <code>() =&gt; void</code></h4>
<p>Function called when dismissing the notice.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>politeness</code>: <code>'polite' | 'assertive'</code></h4>
<p>A politeness level for the notice’s spoken message. Should be provided as one of the valid options for <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-live">an <code>aria-live</code> attribute value</a>. Note that this value should be considered a suggestion; assistive technologies may override it based on internal heuristics.</p>
<p>A value of <code>'assertive'</code> is to be used for important, and usually time-sensitive, information. It will interrupt anything else the screen reader is announcing in that moment.</p>
<p>A value of <code>'polite'</code> is to be used for advisory information. It should not interrupt what the screen reader is announcing in that moment (the “speech queue”) or interrupt the current task.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>'polite'</code></li>
</ul>
<h4><code>spokenMessage</code>: <code>string</code></h4>
<p>Used to provide a custom spoken message.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>children</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To create a prominent message that requires a higher-level of attention, use a Notice.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
