
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">CustomSelectControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>CustomSelectControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>CustomSelectControl</code> allows users to select an item from a single-option menu just like <a href="https://developer.notmatt.press/block-editor/reference-guide/components/select-control/"><code>SelectControl</code></a>, with the addition of being able to provide custom styles for each item in the menu. This means it does not use a native <code>&lt;select&gt;</code>, so should only be used if the custom styling is necessary.</p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<p>These are the same as <a href="https://developer.notmatt.press/block-editor/reference-guide/components/select-control/#design-guidelines">the ones for <code>SelectControl</code>s</a>.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<pre><code class="language-jsx">import { useState } from 'react';
import { CustomSelectControl } from '@wordpress/components';

const options = [
    {
        key: 'small',
        name: 'Small',
        style: { fontSize: '50%' },
    },
    {
        key: 'normal',
        name: 'Normal',
        style: { fontSize: '100%' },
    },
    {
        key: 'large',
        name: 'Large',
        style: { fontSize: '200%' },
    },
    {
        key: 'huge',
        name: 'Huge',
        style: { fontSize: '300%' },
    },
];

function MyCustomSelectControl() {
    const [ , setFontSize ] = useState();
    return (
        &lt;CustomSelectControl
            __next40pxDefaultSize
            label="Font Size"
            options={ options }
            onChange={ ( { selectedItem } ) =&gt; setFontSize( selectedItem ) }
        /&gt;
    );
}

function MyControlledCustomSelectControl() {
    const [ fontSize, setFontSize ] = useState( options[ 0 ] );
    return (
        &lt;CustomSelectControl
            __next40pxDefaultSize
            label="Font Size"
            options={ options }
            onChange={ ( { selectedItem } ) =&gt; setFontSize( selectedItem ) }
            value={ options.find( ( option ) =&gt; option.key === fontSize.key ) }
        /&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<h4><code>className</code>: <code>string</code></h4>
<p>Optional classname for the component.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>hideLabelFromVision</code>: <code>boolean</code></h4>
<p>Hide the label visually, while keeping available to assistive technology.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>describedBy</code>: <code>string</code></h4>
<p>Description for the select trigger button used by assistive technology. If no value is passed, the text “Currently selected: selectedItem.name” will be used fully translated.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>label</code>: <code>string</code></h4>
<p>Label for the control.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>onChange</code>: <code>( newValue: ChangeObject ) =&gt; void</code></h4>
<p>Function called with the control’s internal state changes. The <code>selectedItem</code> property contains the next selected item.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>options</code>: <code>Array&lt; Option &gt;</code></h4>
<p>The list of options that can be chosen from.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>size</code>: <code>'default' | 'small' | '\_\_unstable-large'</code></h4>
<p>The size of the control.</p>
<ul>
<li>Default: <code>'default'</code></li>
<li>Required: No</li>
</ul>
<h4><code>showSelectedHint</code>: <code>boolean</code></h4>
<p>Show the hint of the selected item in the trigger button.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>value</code>: <code>Option</code></h4>
<p>Can be used to externally control the value of the control, like in the <code>MyControlledCustomSelectControl</code> example above.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onMouseOver</code>: <code>MouseEventHandler&lt; HTMLButtonElement &gt;</code></h4>
<p>A handler for <code>mouseover</code> events on the trigger button.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onMouseOut</code>: <code>MouseEventHandler&lt; HTMLButtonElement &gt;</code></h4>
<p>A handler for <code>mouseout</code> events on the trigger button.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onFocus</code>: <code>FocusEventHandler&lt; HTMLButtonElement &gt;</code></h4>
<p>A handler for <code>focus</code> events on the trigger button.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>onBlur</code>: <code>FocusEventHandler&lt; HTMLButtonElement &gt;</code></h4>
<p>A handler for <code>blur</code> events on the trigger button.</p>
<ul>
<li>Required: No</li>
</ul>
<h4><code>__next40pxDefaultSize</code>: <code>boolean</code></h4>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>
<p>Like this component, but implemented using a native <code>&lt;select&gt;</code> for when custom styling is not necessary, the <code>SelectControl</code> component.</p>
</li>
<li>
<p>To select one option from a set, when you want to show all the available options at once, use the <code>Radio</code> component.</p>
</li>
<li>To select one or more items from a set, use the <code>CheckboxControl</code> component.</li>
<li>
<p>To toggle a single setting on or off, use the <code>ToggleControl</code> component.</p>
</li>
<li>
<p>If you have a lot of items, <code>ComboboxControl</code> might be a better fit.</p>
</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
