
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">ComboboxControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>ComboboxControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>ComboboxControl</code> is an enhanced version of a <a href="https://developer.notmatt.press/block-editor/reference-guide/components/select-control/"><code>SelectControl</code></a>, with the addition of being able to search for options using a search input.</p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<p>These are the same as <a href="https://developer.notmatt.press/block-editor/reference-guide/components/select-control/#design-guidelines">the ones for <code>SelectControl</code>s</a>, but this component is better suited for when there are too many items to scroll through or load at once so you need to filter them based on user input.</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<pre><code class="language-jsx">import { useState } from 'react';
import { ComboboxControl } from '@wordpress/components';

const options = [
    {
        value: 'small',
        label: 'Small',
    },
    {
        value: 'normal',
        label: 'Normal',
    },
    {
        value: 'large',
        label: 'Large',
    },
];

function MyComboboxControl() {
    const [ fontSize, setFontSize ] = useState();
    const [ filteredOptions, setFilteredOptions ] = useState( options );
    return (
        &lt;ComboboxControl
            __next40pxDefaultSize
            __nextHasNoMarginBottom
            label="Font Size"
            value={ fontSize }
            onChange={ setFontSize }
            isLoading={ isLoading }
            options={ filteredOptions }
            onFilterValueChange={ ( inputValue ) =&gt;
                setFilteredOptions(
                    options.filter( ( option ) =&gt;
                        option.value === inputValue
                    )
                )
            }
        /&gt;
    );
}
</code></pre>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<h4>label</h4>
<p>The label for the control.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: Yes</li>
</ul>
<h4>hideLabelFromVision</h4>
<p>If true, the label will only be visible to screen readers.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
</ul>
<h4>help</h4>
<p>If this property is added, a help text will be generated using help property as the content.</p>
<ul>
<li>Type: <code>String</code></li>
<li>Required: No</li>
</ul>
<h4>options</h4>
<p>The options that can be chosen from.</p>
<ul>
<li>Type: <code>Array&lt;{ value: string, label: string, disabled?: boolean }&gt;</code></li>
<li>Required: Yes</li>
</ul>
<h4>onFilterValueChange</h4>
<p>Function called when the control’s search input value changes. The argument contains the next input value.</p>
<ul>
<li>Type: <code>( value: string ) =&gt; void</code></li>
<li>Required: No</li>
</ul>
<h4>onChange</h4>
<p>Function called with the selected value changes.</p>
<ul>
<li>Type: <code>( value: string | null | undefined ) =&gt; void</code></li>
<li>Required: No</li>
</ul>
<h4>value</h4>
<p>The current value of the control.</p>
<ul>
<li>Type: <code>string | null</code></li>
<li>Required: No</li>
</ul>
<h4>expandOnFocus</h4>
<p>Automatically expand the dropdown when the control is focused.<br/>
If the control is clicked, the dropdown will expand regardless of this prop.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h4>placeholder</h4>
<p>If passed, the combobox input will show a placeholder string if no values are present.</p>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<h4>isLoading</h4>
<p>Show a spinner (and hide the suggestions dropdown) while data about the matching suggestions (ie the <code>options</code> prop) is loading</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
</ul>
<h4>__experimentalRenderItem</h4>
<p>Custom renderer invoked for each option in the suggestion list. The render prop receives as its argument an object containing, under the <code>item</code> key, the single option’s data (directly from the array of data passed to the <code>options</code> prop).</p>
<ul>
<li>Type: <code>( args: { item: object } ) =&gt; ReactNode</code></li>
<li>Required: No</li>
</ul>
<h4>__next40pxDefaultSize</h4>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h4>__nextHasNoMarginBottom</h4>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>
<p>Like this component, but without a search input, the <a href="https://developer.notmatt.press/block-editor/reference-guides/components/custom-select-control/"><code>CustomSelectControl</code></a> component.</p>
</li>
<li>
<p>To select one option from a set, when you want to show all the available options at once, use the <a href="https://developer.notmatt.press/block-editor/reference-guides/components/radio-control/"><code>RadioControl</code></a> component.</p>
</li>
<li>To select one or more items from a set, use the <a href="https://developer.notmatt.press/block-editor/reference-guides/components/checkbox-control/"><code>CheckboxControl</code></a> component.</li>
<li>To toggle a single setting on or off, use the <a href="https://developer.notmatt.press/block-editor/reference-guides/components/toggle-control/"><code>ToggleControl</code></a> component.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
