
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Flyout</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Flyout</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>Flyout</code> is a component to render a floating content modal. It is similar in purpose to a tooltip, but renders content of any sort, not only simple text.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre class="wp-block-code"><code class="language-php line-numbers" lang="php">import { Button, __experimentalFlyout as Flyout, __experimentalText as Text } from '@wordpress/components';

function Example() {
    return (
        &lt;Flyout trigger={ &lt;Button&gt;Show/Hide content&lt;/Button&gt; }&gt;
            &lt;Text&gt;Code is Poetry&lt;/Text&gt;
        &lt;/Flyout&gt;
    );
}</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="state-popoverstatereturn" tabindex="-1"><a href="#state-popoverstatereturn">state: PopoverStateReturn</a></h3>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="animated-boolean" tabindex="-1"><a href="#animated-boolean">animated: boolean</a></h3>
<p>Determines if <code>Flyout</code> has animations.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="animationduration-boolean" tabindex="-1"><a href="#animationduration-boolean">animationDuration: boolean</a></h3>
<p>The duration of <code>Flyout</code> animations.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>160</code></li>
</ul>
<h3 class="is-toc-heading" id="baseid-string" tabindex="-1"><a href="#baseid-string">baseId: string</a></h3>
<p>ID that will serve as a base for all the items IDs. See https://reakit.io/docs/popover/#usepopoverstate</p>
<ul>
<li>Required: No</li>
<li>Default: <code>160</code></li>
</ul>
<h3 class="is-toc-heading" id="elevation-number" tabindex="-1"><a href="#elevation-number">elevation: number</a></h3>
<p>Size of the elevation shadow. For more information, check out <a href="https://developer.notmatt.press/block-editor/reference-guide/components/card/card/#props"><code>Card</code></a>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>5</code></li>
</ul>
<h3 class="is-toc-heading" id="maxwidth-cssproperties-maxwidth" tabindex="-1"><a href="#maxwidth-cssproperties-maxwidth">maxWidth: CSSProperties[ ‘maxWidth’ ]</a></h3>
<p>Max-width for the <code>Flyout</code> element.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>360</code></li>
</ul>
<h3 class="is-toc-heading" id="onvisiblechange-args-any-void" tabindex="-1"><a href="#onvisiblechange-args-any-void">onVisibleChange: ( …args: any ) =&gt; void</a></h3>
<p>Callback for when the <code>visible</code> state changes.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="trigger-functioncomponentelement-any" tabindex="-1"><a href="#trigger-functioncomponentelement-any">trigger: FunctionComponentElement&lt; any &gt;</a></h3>
<p>Element that triggers the <code>visible</code> state of <code>Flyout</code> when clicked.</p>
<pre class="wp-block-code"><code class="language-php" lang="php">&lt;Flyout trigger={&lt;Button&gt;Greet&lt;/Button&gt;}&gt;
    &lt;Text&gt;Hi! I'm Olaf!&lt;/Text&gt;
&lt;/Flyout&gt;</code></pre>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="visible-boolean" tabindex="-1"><a href="#visible-boolean">visible: boolean</a></h3>
<p>Whether <code>Flyout</code> is visible. See <a href="https://reakit.io/docs/popover/#usepopoverstate">the <code>Reakit</code> docs</a> for more information.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="placement-popperplacement" tabindex="-1"><a href="#placement-popperplacement">placement: PopperPlacement</a></h3>
<p>Position of the popover element. See <a href="https://popper.js.org/docs/v1/#popperplacements--codeenumcode">the <code>popper</code> docs</a> for more information.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>auto</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
