
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Flex</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Flex</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>Flex</code> is a primitive layout component that adaptively aligns child content horizontally or vertically. <code>Flex</code> powers components like <code>HStack</code> and <code>VStack</code>.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p><code>Flex</code> is used with any of it’s two sub-components, <code>FlexItem</code> and <code>FlexBlock</code>.</p>
<pre><code class="language-jsx">import { Flex, FlexBlock, FlexItem } from '@wordpress/components';

function Example() {
    return (
        &lt;Flex&gt;
            &lt;FlexItem&gt;
                &lt;p&gt;Code&lt;/p&gt;
            &lt;/FlexItem&gt;
            &lt;FlexBlock&gt;
                &lt;p&gt;Poetry&lt;/p&gt;
            &lt;/FlexBlock&gt;
        &lt;/Flex&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="align-csspropertiesalignitems" tabindex="-1"><a href="#align-csspropertiesalignitems">align: CSSProperties[‘alignItems’]</a></h3>
<p>Aligns children using CSS Flexbox <code>align-items</code>. Vertically aligns content if the <code>direction</code> is <code>row</code>, or horizontally aligns content if the <code>direction</code> is <code>column</code>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>center</code></li>
</ul>
<h3 class="is-toc-heading" id="direction-responsivecssvaluecsspropertiesflexdirection" tabindex="-1"><a href="#direction-responsivecssvaluecsspropertiesflexdirection">direction: ResponsiveCSSValue&lt;CSSProperties[‘flexDirection’]&gt;</a></h3>
<p>The direction flow of the children content can be adjusted with <code>direction</code>. <code>column</code> will align children vertically and <code>row</code> will align children horizontally.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>row</code></li>
</ul>
<h3 class="is-toc-heading" id="expanded-boolean" tabindex="-1"><a href="#expanded-boolean">expanded: boolean</a></h3>
<p>Expands to the maximum available width (if horizontal) or height (if vertical).</p>
<ul>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<h3 class="is-toc-heading" id="gap-number" tabindex="-1"><a href="#gap-number">gap: number</a></h3>
<p>Spacing in between each child can be adjusted by using <code>gap</code>. The value of <code>gap</code> works as a multiplier to the library’s grid system (base of <code>4px</code>).</p>
<ul>
<li>Required: No</li>
<li>Default: <code>2</code></li>
</ul>
<h3 class="is-toc-heading" id="justify-csspropertiesjustifycontent" tabindex="-1"><a href="#justify-csspropertiesjustifycontent">justify: CSSProperties[‘justifyContent’]</a></h3>
<p>Horizontally aligns content if the <code>direction</code> is <code>row</code>, or vertically aligns content if the <code>direction</code> is <code>column</code>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>space-between</code></li>
</ul>
<h3 class="is-toc-heading" id="wrap-boolean" tabindex="-1"><a href="#wrap-boolean">wrap: boolean</a></h3>
<p>Determines if children should wrap.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
