
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">BoxControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>BoxControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-boxcontrol--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p>A control that lets users set values for top, right, bottom, and left. Can be<br/>
used as an input control for values like <code>padding</code> or <code>margin</code>.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { BoxControl } from '@wordpress/components';

function Example() {
  const [ values, setValues ] = useState( {
    top: '50px',
    left: '10%',
    right: '10%',
    bottom: '50px',
  } );

  return (
    &lt;BoxControl
      __next40pxDefaultSize
      values={ values }
      onChange={ setValues }
    /&gt;
  );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<h3 class="is-toc-heading" id="allowreset" tabindex="-1"><a href="#allowreset">allowReset</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<p>If this property is true, a button to reset the box control is rendered.</p>
<h3 class="is-toc-heading" id="id" tabindex="-1"><a href="#id">id</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The id to use as a base for the unique HTML id attribute of the control.</p>
<h3 class="is-toc-heading" id="inputprops" tabindex="-1"><a href="#inputprops">inputProps</a></h3>
<ul>
<li>Type: <code>UnitControlPassthroughProps</code></li>
<li>Required: No</li>
<li>Default: <code>{<br/>
    min: 0,<br/>
}</code></li>
</ul>
<p>Props for the internal <code>UnitControl</code> components.</p>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: <code>__( 'Box Control' )</code></li>
</ul>
<p>Heading label for the control.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>(next: BoxControlValue) =&gt; void</code></li>
<li>Required: No</li>
<li>Default: <code>() =&gt; {}</code></li>
</ul>
<p>A callback function when an input value changes.</p>
<h3 class="is-toc-heading" id="presets" tabindex="-1"><a href="#presets">presets</a></h3>
<ul>
<li>Type: <code>Preset[]</code></li>
<li>Required: No</li>
</ul>
<p>Available presets to pick from.</p>
<h3 class="is-toc-heading" id="presetkey" tabindex="-1"><a href="#presetkey">presetKey</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The key of the preset to apply.<br/>
If you provide a list of presets, you must provide a preset key to use.<br/>
The format of preset selected values is going to be <code>var:preset|${ presetKey }|${ presetSlug }</code></p>
<h3 class="is-toc-heading" id="resetvalues" tabindex="-1"><a href="#resetvalues">resetValues</a></h3>
<ul>
<li>Type: <code>BoxControlValue</code></li>
<li>Required: No</li>
<li>Default: <code>{<br/>
    top: undefined,<br/>
    right: undefined,<br/>
    bottom: undefined,<br/>
    left: undefined,<br/>
}</code></li>
</ul>
<p>The <code>top</code>, <code>right</code>, <code>bottom</code>, and <code>left</code> box dimension values to use when the control is reset.</p>
<h3 class="is-toc-heading" id="sides" tabindex="-1"><a href="#sides">sides</a></h3>
<ul>
<li>Type: <code>readonly (keyof BoxControlValue | "horizontal" | "vertical")[]</code></li>
<li>Required: No</li>
</ul>
<p>Collection of sides to allow control of. If omitted or empty, all sides will be available.</p>
<p>Allowed values are “top”, “right”, “bottom”, “left”, “vertical”, and “horizontal”.</p>
<h3 class="is-toc-heading" id="splitonaxis" tabindex="-1"><a href="#splitonaxis">splitOnAxis</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>If this property is true, when the box control is unlinked, vertical and horizontal controls<br/>
can be used instead of updating individual sides.</p>
<h3 class="is-toc-heading" id="units" tabindex="-1"><a href="#units">units</a></h3>
<ul>
<li>Type: <code>WPUnitControlUnit[]</code></li>
<li>Required: No</li>
<li>Default: <code>CSS_UNITS</code></li>
</ul>
<p>Available units to select from.</p>
<h3 class="is-toc-heading" id="values" tabindex="-1"><a href="#values">values</a></h3>
<ul>
<li>Type: <code>BoxControlValue</code></li>
<li>Required: No</li>
</ul>
<p>The current values of the control, expressed as an object of <code>top</code>, <code>right</code>, <code>bottom</code>, and <code>left</code> values.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
