
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Draggable</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Draggable</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>Draggable</code> is a Component that provides a way to set up a cross-browser (including IE) customizable drag image and the transfer data for the drag event. It decouples the drag handle and the element to drag: use it by wrapping the component that will become the drag handle and providing the DOM ID of the element to drag.</p>
<p>Note that the drag handle needs to declare the <code>draggable="true"</code> property and bind the <code>Draggable</code>s <code>onDraggableStart</code> and <code>onDraggableEnd</code> event handlers to its own <code>onDragStart</code> and <code>onDragEnd</code> respectively. <code>Draggable</code> takes care of the logic to setup the drag image and the transfer data, but is not concerned with creating an actual DOM element that is draggable.</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props:</p>
<h3 class="is-toc-heading" id="appendtoownerdocument-boolean" tabindex="-1"><a href="#appendtoownerdocument-boolean">appendToOwnerDocument: boolean</a></h3>
<p>Whether to append the cloned element to the <code>ownerDocument</code> body. By default, elements sourced by id are appended to the element’s wrapper.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="elementid-string" tabindex="-1"><a href="#elementid-string">elementId: string</a></h3>
<p>The HTML id of the element to clone on drag.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="ondragend-event-dragevent-void" tabindex="-1"><a href="#ondragend-event-dragevent-void">onDragEnd: ( event: DragEvent ) =&gt; void</a></h3>
<p>A function called when dragging ends. This callback receives the <code>event</code> object from the <code>dragend</code> event as its first parameter.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>noop</code></li>
</ul>
<h3 class="is-toc-heading" id="ondragover-event-dragevent-void" tabindex="-1"><a href="#ondragover-event-dragevent-void">onDragOver: ( event: DragEvent ) =&gt; void</a></h3>
<p>A function called when the element being dragged is dragged over a valid drop target. This callback receives the <code>event</code> object from the <code>dragover</code> event as its first parameter.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>noop</code></li>
</ul>
<h3 class="is-toc-heading" id="ondragstart-event-dragevent-void" tabindex="-1"><a href="#ondragstart-event-dragevent-void">onDragStart: ( event: DragEvent ) =&gt; void</a></h3>
<p>A function called when dragging starts. This callback receives the <code>event</code> object from the <code>dragstart</code> event as its first parameter.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>noop</code></li>
</ul>
<h3 class="is-toc-heading" id="transferdata-unknown" tabindex="-1"><a href="#transferdata-unknown">transferData: unknown</a></h3>
<p>Arbitrary data object attached to the drag and drop event.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { Draggable, Panel, PanelBody } from '@wordpress/components';
import { Icon, more } from '@wordpress/icons';

const MyDraggable = () =&gt; (
    &lt;div id="draggable-panel"&gt;
        &lt;Panel header="Draggable panel"&gt;
            &lt;PanelBody&gt;
                &lt;Draggable elementId="draggable-panel" transferData={ {} }&gt;
                    { ( { onDraggableStart, onDraggableEnd } ) =&gt; (
                        &lt;div
                            className="example-drag-handle"
                            draggable
                            onDragStart={ onDraggableStart }
                            onDragEnd={ onDraggableEnd }
                        &gt;
                            &lt;Icon icon={ more } /&gt;
                        &lt;/div&gt;
                    ) }
                &lt;/Draggable&gt;
            &lt;/PanelBody&gt;
        &lt;/Panel&gt;
    &lt;/div&gt;
);
</code></pre>
<p>In case you want to call your own <code>dragstart</code> / <code>dragend</code> event handlers as well, you can pass them to <code>Draggable</code> and it’ll take care of calling them after their own:</p>
<pre><code class="language-jsx">import { Draggable, Panel, PanelBody } from '@wordpress/components';
import { Icon, more } from '@wordpress/icons';

const MyDraggable = ( { onDragStart, onDragEnd } ) =&gt; (
    &lt;div id="draggable-panel"&gt;
        &lt;Panel header="Draggable panel"&gt;
            &lt;PanelBody&gt;
                &lt;Draggable
                    elementId="draggable-panel"
                    transferData={ {} }
                    onDragStart={ onDragStart }
                    onDragEnd={ onDragEnd }
                &gt;
                    { ( { onDraggableStart, onDraggableEnd } ) =&gt; (
                        &lt;div
                            className="example-drag-handle"
                            draggable
                            onDragStart={ onDraggableStart }
                            onDragEnd={ onDraggableEnd }
                        &gt;
                            &lt;Icon icon={ more } /&gt;
                        &lt;/div&gt;
                    ) }
                &lt;/Draggable&gt;
            &lt;/PanelBody&gt;
        &lt;/Panel&gt;
    &lt;/div&gt;
);
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
