
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">DimensionControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>DimensionControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This component is deprecated.
</div>
<div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>DimensionControl</code> is a component designed to provide a UI to control spacing and/or dimensions.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { __experimentalDimensionControl as DimensionControl } from '@wordpress/components';

export default function MyCustomDimensionControl() {
    const [ paddingSize, setPaddingSize ] = useState( '' );

    return (
        &lt;DimensionControl
            __nextHasNoMarginBottom
            __next40pxDefaultSize
            label={ 'Padding' }
            icon={ 'desktop' }
            onChange={ ( value ) =&gt; setPaddingSize( value ) }
            value={ paddingSize }
        /&gt;
    );
}
</code></pre>
<p><em>Note:</em> by default, if you do not provide an initial <code>value</code> prop for the current dimension value, then no value will be selected (ie: there is no default dimension set).</p>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li><strong>Type:</strong> <code>string</code></li>
<li><strong>Required:</strong> Yes</li>
</ul>
<p>The human readable label for the control.</p>
<h3 class="is-toc-heading" id="value" tabindex="-1"><a href="#value">value</a></h3>
<ul>
<li><strong>Type:</strong> <code>string</code></li>
<li><strong>Required:</strong> No</li>
</ul>
<p>The current value of the dimension UI control. If provided the UI with automatically select the value.</p>
<h3 class="is-toc-heading" id="sizes" tabindex="-1"><a href="#sizes">sizes</a></h3>
<ul>
<li><strong>Type:</strong> <code>{ name: string; slug: string }[]</code></li>
<li><strong>Default:</strong> See <code>packages/block-editor/src/components/dimension-control/sizes.ts</code></li>
<li><strong>Required:</strong> No</li>
</ul>
<p>An optional array of size objects in the following shape:</p>
<pre><code>[
    {
        name: __( 'Small' ),
        slug: 'small',
    },
        {
        name: __( 'Medium' ),
        slug: 'small',
    },
    // ...etc
]
</code></pre>
<p>By default a set of relative sizes (<code>small</code>, <code>medium</code>…etc) are provided. See <code>packages/block-editor/src/components/dimension-control/sizes.js</code>.</p>
<h3 class="is-toc-heading" id="icon" tabindex="-1"><a href="#icon">icon</a></h3>
<ul>
<li><strong>Type:</strong> <code>string</code></li>
<li><strong>Required:</strong> No</li>
</ul>
<p>An optional dashicon to display before to the control label.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li><strong>Type:</strong> <code>( value?: string ) =&gt; void;</code></li>
<li><strong>Required:</strong> No</li>
<li><strong>Arguments:</strong>:
<ul>
<li><code>size</code> – a string representing the selected size (eg: <code>medium</code>)</li>
</ul>
</li>
</ul>
<p>A callback which is triggered when a spacing size value changes (is selected/clicked).</p>
<h3 class="is-toc-heading" id="classname" tabindex="-1"><a href="#classname">className</a></h3>
<ul>
<li><strong>Type:</strong> <code>string</code></li>
<li><strong>Default:</strong> <code>''</code></li>
<li><strong>Required:</strong> No</li>
</ul>
<p>A string of classes to be added to the control component.</p>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li><strong>Type:</strong> <code>Boolean</code></li>
<li><strong>Required:</strong> No</li>
<li><strong>Default:</strong> <code>false</code></li>
</ul>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<h3 class="is-toc-heading" id="__nexthasnomarginbottom" tabindex="-1"><a href="#__nexthasnomarginbottom">__nextHasNoMarginBottom</a></h3>
<ul>
<li><strong>Type:</strong> <code>Boolean</code></li>
<li><strong>Required:</strong> No</li>
<li><strong>Default:</strong> <code>false</code></li>
</ul>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
