
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Grid</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Grid</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p><code>Grid</code> is a primitive layout component that can arrange content in a grid configuration.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import {
    __experimentalGrid as Grid,
    __experimentalText as Text,
} from '@wordpress/components';

function Example() {
    return (
        &lt;Grid columns={ 3 }&gt;
            &lt;Text&gt;Code&lt;/Text&gt;
            &lt;Text&gt;is&lt;/Text&gt;
            &lt;Text&gt;Poetry&lt;/Text&gt;
        &lt;/Grid&gt;
    );
}
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="align-cssalignitems" tabindex="-1"><a href="#align-cssalignitems">align: CSS[‘alignItems’]</a></h3>
<p>Adjusts the block alignment of children.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="alignment-gridalignment" tabindex="-1"><a href="#alignment-gridalignment">alignment: GridAlignment</a></h3>
<p>Adjusts the horizontal and vertical alignment of children.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="columngap-csspropertiesgridcolumngap" tabindex="-1"><a href="#columngap-csspropertiesgridcolumngap">columnGap: CSSProperties[‘gridColumnGap’]</a></h3>
<p>Adjusts the <code>grid-column-gap</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="columns-number" tabindex="-1"><a href="#columns-number">columns: number</a></h3>
<p>Adjusts the number of columns of the <code>Grid</code>.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>2</code></li>
</ul>
<h3 class="is-toc-heading" id="gap-number" tabindex="-1"><a href="#gap-number">gap: number</a></h3>
<p>Gap between each child.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>3</code></li>
</ul>
<h3 class="is-toc-heading" id="isinline-boolean" tabindex="-1"><a href="#isinline-boolean">isInline: boolean</a></h3>
<p>Changes the CSS display from <code>grid</code> to <code>inline-grid</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="justify-cssjustifycontent" tabindex="-1"><a href="#justify-cssjustifycontent">justify: CSS[‘justifyContent’]</a></h3>
<p>Adjusts the inline alignment of children.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="rowgap-csspropertiesgridrowgap" tabindex="-1"><a href="#rowgap-csspropertiesgridrowgap">rowGap: CSSProperties[‘gridRowGap’]</a></h3>
<p>Adjusts the <code>grid-row-gap</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="rows-number" tabindex="-1"><a href="#rows-number">rows: number</a></h3>
<p>Adjusts the number of rows of the <code>Grid</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="templatecolumns-cssgridtemplatecolumns" tabindex="-1"><a href="#templatecolumns-cssgridtemplatecolumns">templateColumns: CSS[‘gridTemplateColumns’]</a></h3>
<p>Adjusts the CSS grid <code>template-columns</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="templaterows-cssgridtemplaterows" tabindex="-1"><a href="#templaterows-cssgridtemplaterows">templateRows: CSS[‘gridTemplateRows’]</a></h3>
<p>Adjusts the CSS grid <code>template-rows</code>.</p>
<ul>
<li>Required: No</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
