
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Navigator</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Navigator</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>Navigator</code> is a collection components that allow rendering nested views/panels/menus (via the <code>Navigator.Screen</code> component) and navigate between them (via the <code>Navigator.Button</code> and <code>Navigator.BackButton</code> components).</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { Navigator } from '@wordpress/components';

const MyNavigation = () =&gt; (
    &lt;Navigator initialPath="/"&gt;
        &lt;Navigator.Screen path="/"&gt;
            &lt;p&gt;This is the home screen.&lt;/p&gt;
            &lt;Navigator.Button path="/child"&gt;
                Navigate to child screen.
            &lt;/Navigator.Button&gt;
        &lt;/Navigator.Screen&gt;
        &lt;Navigator.Screen path="/child"&gt;
            &lt;p&gt;This is the child screen.&lt;/p&gt;
            &lt;Navigator.BackButton&gt;Go back&lt;/Navigator.BackButton&gt;
        &lt;/Navigator.Screen&gt;
    &lt;/Navigator&gt;
);
</code></pre>
<h3 class="is-toc-heading" id="hierarchical-paths" tabindex="-1"><a href="#hierarchical-paths">Hierarchical paths</a></h3>
<p><code>Navigator</code> assumes that screens are organized hierarchically according to their <code>path</code>, which should follow a URL-like scheme where each path segment starts with and is separated by the <code>/</code> character.</p>
<p><code>Navigator</code> will treat “back” navigations as going to the parent screen — it is, therefore, the responsibility of the consumer of the component to create the correct screen hierarchy.</p>
<p>For example:</p>
<ul>
<li><code>/</code> is the root of all paths. There should always be a screen with <code>path="/"</code>;</li>
<li><code>/parent/child</code> is a child of <code>/parent</code>;</li>
<li><code>/parent/child/grand-child</code> is a child of <code>/parent/child</code>;</li>
<li><code>/parent/:param</code> is a child of <code>/parent</code> as well;</li>
<li>if the current screen has a <code>path="/parent/child/grand-child"</code>, when going “back” <code>Navigator</code> will try to recursively navigate the path hierarchy until a matching screen (or the root <code>/</code>) is found.</li>
</ul>
<h3 class="is-toc-heading" id="height-and-animations" tabindex="-1"><a href="#height-and-animations">Height and animations</a></h3>
<p>Due to how <code>Navigator.Screen</code> animations work, it is recommended that the <code>Navigator</code> component is assigned a <code>height</code> to prevent some potential UI jumps while moving across screens.</p>
<h3 class="is-toc-heading" id="individual-components" tabindex="-1"><a href="#individual-components">Individual components</a></h3>
<p><code>Navigator</code> is comprised of four individual components:</p>
<ul>
<li><code>Navigator</code>: a wrapper component and context provider. It holds the main logic for hiding and showing screens.</li>
<li><code>Navigator.Screen</code>: represents a single view/screen/panel;</li>
<li><code>Navigator.Button</code>: renders a button that allows navigating to a different <code>Navigator.Screen</code>;</li>
<li><code>Navigator.BackButton</code>: renders a button that allows navigating to the parent <code>Navigator.Screen</code> (see the section above about hierarchical paths).</li>
</ul>
<p>For advanced usages, consumers can use the <code>useNavigator</code> hook.</p>
<h4><code>Navigator</code></h4>
<h5>Props</h5>
<h6><code>initialPath</code>: <code>string</code></h6>
<p>The initial active path.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h6><code>children</code>: <code>string</code></h6>
<p>The children elements.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>Navigator.Screen</code></h4>
<h5>Props</h5>
<h6><code>path</code>: <code>string</code></h6>
<p>The screen’s path, matched against the current path stored in the navigator.</p>
<p><code>Navigator</code> assumes that screens are organized hierarchically according to their <code>path</code>, which should follow a URL-like scheme where each path segment starts with and is separated by the <code>/</code> character.</p>
<p><code>Navigator</code> will treat “back” navigations as going to the parent screen — it is, therefore, the responsibility of the consumer of the component to create the correct screen hierarchy.</p>
<p>For example:</p>
<ul>
<li><code>/</code> is the root of all paths. There should always be a screen with <code>path="/"</code>.</li>
<li><code>/parent/child</code> is a child of <code>/parent</code>.</li>
<li><code>/parent/child/grand-child</code> is a child of <code>/parent/child</code>.</li>
<li><code>/parent/:param</code> is a child of <code>/parent</code> as well.</li>
<li>if the current screen has a <code>path</code> with value <code>/parent/child/grand-child</code>, when going “back” <code>Navigator</code> will try to recursively navigate the path hierarchy until a matching screen (or the root <code>/</code>) is found.
</li>
<li>
<p>Required: Yes</p>
</li>
</ul>
<h6><code>children</code>: <code>string</code></h6>
<p>The children elements.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h4><code>Navigator.Button</code></h4>
<h5>Props</h5>
<h6><code>path</code>: <code>string</code></h6>
<p>The path of the screen to navigate to. The value of this prop needs to be <a href="https://html.spec.whatwg.org/multipage/syntax.html#attributes-2">a valid value for an HTML attribute</a>.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h6><code>attributeName</code>: <code>string</code></h6>
<p>The HTML attribute used to identify the <code>Navigator.Button</code>, which is used by <code>Navigator</code> to restore focus.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>id</code></li>
</ul>
<h6><code>children</code>: <code>string</code></h6>
<p>The children elements.</p>
<ul>
<li>Required: No</li>
</ul>
<h6>Inherited props</h6>
<p><code>Navigator.Button</code> also inherits all of the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/button/#props"><code>Button</code> props</a>, except for <code>href</code> and <code>target</code>.</p>
<h4><code>Navigator.BackButton</code></h4>
<h5>Props</h5>
<h6><code>children</code>: <code>string</code></h6>
<p>The children elements.</p>
<ul>
<li>Required: No</li>
</ul>
<h6>Inherited props</h6>
<p><code>Navigator.BackButton</code> also inherits all of the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/button/#props"><code>Button</code> props</a>, except for <code>href</code> and <code>target</code>.</p>
<h4><code>useNavigator</code></h4>
<p>You can retrieve a <code>navigator</code> instance by using the <code>useNavigator</code> hook.</p>
<h5>Props</h5>
<p>The <code>navigator</code> instance has a few properties:</p>
<h6><code>goTo</code>: <code>( path: string, options: NavigateOptions ) =&gt; void</code></h6>
<p>The <code>goTo</code> function allows navigating to a given path. The second argument can augment the navigation operations with different options.</p>
<p>The available options are:</p>
<ul>
<li><code>focusTargetSelector</code>: <code>string</code>. An optional property used to specify the CSS selector used to restore focus on the matching element when navigating back;</li>
<li><code>isBack</code>: <code>boolean</code>. An optional property used to specify whether the navigation should be considered as backwards (thus enabling focus restoration when possible, and causing the animation to be backwards too);</li>
<li><code>skipFocus</code>: <code>boolean</code>. An optional property used to opt out of <code>Navigator</code>‘s focus management, useful when the consumer of the component wants to manage focus themselves;</li>
</ul>
<h6><code>goBack</code>: <code>( path: string, options: NavigateOptions ) =&gt; void</code></h6>
<p>The <code>goBack</code> function allows navigating to the parent screen. Parent/child navigation only works if the paths you define are hierarchical (see note above).</p>
<p>When a match is not found, the function will try to recursively navigate the path hierarchy until a matching screen (or the root <code>/</code>) is found.</p>
<p>The available options are the same as for the <code>goTo</code> method, except for the <code>isBack</code> property, which is not available for the <code>goBack</code> method.</p>
<h6><code>location</code>: <code>NavigatorLocation</code></h6>
<p>The <code>location</code> object represents the current location, and has a few properties:</p>
<ul>
<li><code>path</code>: <code>string</code>. The path associated to the location.</li>
<li><code>isBack</code>: <code>boolean</code>. A flag that is <code>true</code> when the current location was reached by navigating backwards.</li>
<li><code>isInitial</code>: <code>boolean</code>. A flag that is <code>true</code> only for the initial location.</li>
</ul>
<h6><code>params</code>: <code>Record&lt; string, string | string[] &gt;</code></h6>
<p>The parsed record of parameters from the current location. For example if the current screen path is <code>/product/:productId</code> and the location is <code>/product/123</code>, then <code>params</code> will be <code>{ productId: '123' }</code>.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
