
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Dropdown</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Dropdown</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Dropdown is a React component to render a button that opens a floating content modal when clicked.</p>
<p>This component takes care of updating the state of the dropdown menu (opened/closed), handles closing the menu when clicking outside and uses render props to render the button and the content.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { Button, Dropdown } from '@wordpress/components';

const MyDropdown = () =&gt; (
    &lt;Dropdown
        className="my-container-class-name"
        contentClassName="my-popover-content-classname"
        popoverProps={ { placement: 'bottom-start' } }
        renderToggle={ ( { isOpen, onToggle } ) =&gt; (
            &lt;Button
                variant="primary"
                onClick={ onToggle }
                aria-expanded={ isOpen }
            &gt;
                Toggle Popover!
            &lt;/Button&gt;
        ) }
        renderContent={ () =&gt; &lt;div&gt;This is the content of the popover.&lt;/div&gt; }
    /&gt;
);
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props. Props not included in this set will be applied to the element wrapping Popover content.</p>
<h3 class="is-toc-heading" id="classname-string" tabindex="-1"><a href="#classname-string">className: string</a></h3>
<p>className of the global container</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="contentclassname-string" tabindex="-1"><a href="#contentclassname-string">contentClassName: string</a></h3>
<p>If you want to target the dropdown menu for styling purposes, you need to provide a contentClassName because it’s not being rendered as a child of the container node.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="defaultopen-boolean" tabindex="-1"><a href="#defaultopen-boolean">defaultOpen: boolean</a></h3>
<p>The open state of the dropdown when initially rendered. Use when you do not need to control its open state. It will be overridden by the <code>open</code> prop if it is specified on the component’s first render.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="expandonmobile-boolean" tabindex="-1"><a href="#expandonmobile-boolean">expandOnMobile: boolean</a></h3>
<p>Opt-in prop to show popovers fullscreen on mobile.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="focusonmount-firstelement-boolean" tabindex="-1"><a href="#focusonmount-firstelement-boolean">focusOnMount: ‘firstElement’ | boolean</a></h3>
<p>By default, the <em>first tabbable element</em> in the popover will receive focus when it mounts. This is the same as setting this prop to <code>"firstElement"</code>.</p>
<p>Specifying a <code>true</code> value will focus the container instead.</p>
<p>Specifying a <code>false</code> value disables the focus handling entirely (this should only be done when an appropriately accessible substitute behavior exists).</p>
<ul>
<li>Required: No</li>
<li>Default: <code>"firstElement"</code></li>
</ul>
<h3 class="is-toc-heading" id="headertitle-string" tabindex="-1"><a href="#headertitle-string">headerTitle: string</a></h3>
<p>Set this to customize the text that is shown in the dropdown’s header when it is fullscreen on mobile.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="onclose-void" tabindex="-1"><a href="#onclose-void">onClose: () =&gt; void</a></h3>
<p>A callback invoked when the popover should be closed.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="open-boolean" tabindex="-1"><a href="#open-boolean">open: boolean</a></h3>
<p>The controlled open state of the dropdown. Must be used in conjunction with <code>onToggle</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="ontoggle-willopen-boolean-void" tabindex="-1"><a href="#ontoggle-willopen-boolean-void">onToggle: ( willOpen: boolean ) =&gt; void</a></h3>
<p>A callback invoked when the state of the dropdown changes from open to closed and vice versa.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="popoverprops-wordpresscomponentprops-omit-popoverprops-children-div-false" tabindex="-1"><a href="#popoverprops-wordpresscomponentprops-omit-popoverprops-children-div-false">popoverProps: WordPressComponentProps&lt; Omit&lt; PopoverProps, ‘children’ &gt; ‘div’, false &gt;</a></h3>
<p>Properties of popoverProps object will be passed as props to the <code>Popover</code> component.</p>
<p>Use this object to access properties/features of the <code>Popover</code> component that are not already exposed in the <code>Dropdown</code> component, e.g.: the ability to have the popover without an arrow.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="rendercontent-props-callbackprops-reactnode" tabindex="-1"><a href="#rendercontent-props-callbackprops-reactnode">renderContent: ( props: CallbackProps ) =&gt; ReactNode</a></h3>
<p>A callback invoked to render the content of the dropdown menu.</p>
<ul>
<li><code>isOpen</code>: whether the dropdown menu is opened or not</li>
<li><code>onToggle</code>: A function switching the dropdown menu’s state from open to closed and vice versa</li>
<li><code>onClose</code>: A function that closes the menu if invoked
</li>
<li>
<p>Required: Yes</p>
</li>
</ul>
<h3 class="is-toc-heading" id="rendertoggle-props-callbackprops-reactnode" tabindex="-1"><a href="#rendertoggle-props-callbackprops-reactnode">renderToggle: ( props: CallbackProps ) =&gt; ReactNode</a></h3>
<p>A callback invoked to render the Dropdown Toggle Button.</p>
<p>Its props are the same as the <code>renderContent</code> props.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="style-react-cssproperties" tabindex="-1"><a href="#style-react-cssproperties">style: React.CSSProperties</a></h3>
<p>The style of the global container</p>
<ul>
<li>Required: No</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
