
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">ToolsPanelHeader</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>ToolsPanelHeader</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This feature is still experimental. “Experimental” means this is an early implementation subject to drastic and breaking changes.
</div>
<p></p>
<p>This component renders a tools panel’s header including a menu.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p>This component is generated automatically by its parent<br/>
<code>ToolsPanel</code>.</p>
<div class="callout callout-alert">
<strong>In general, this should not be used directly.</strong>
</div>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="dropdownmenuprops" tabindex="-1"><a href="#dropdownmenuprops">dropdownMenuProps: {}</a></h3>
<p>The dropdown menu props to configure the panel’s <code>DropdownMenu</code>.</p>
<ul>
<li>Type: <code>DropdownMenuProps</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="headinglevel-1-2-3-4-5-6-1-2-3-4-5-6" tabindex="-1"><a href="#headinglevel-1-2-3-4-5-6-1-2-3-4-5-6">headingLevel: 1 | 2 | 3 | 4 | 5 | 6 | ‘1’ | ‘2’ | ‘3’ | ‘4’ | ‘5’ | ‘6’</a></h3>
<p>The heading level of the panel’s header.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>2</code></li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>Text to be displayed within the panel header. It is also passed along as the<br/>
<code>label</code> for the panel header’s <code>DropdownMenu</code>.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="resetall-void" tabindex="-1"><a href="#resetall-void">resetAll: () =&gt; void</a></h3>
<p>The <code>resetAll</code> prop provides the callback to execute when the “Reset all” menu<br/>
item is selected. Its purpose is to facilitate resetting any control values<br/>
for items contained within this header’s panel.</p>
<ul>
<li>Required: Yes</li>
</ul>
<h3 class="is-toc-heading" id="toggleitem-label-string-void" tabindex="-1"><a href="#toggleitem-label-string-void">toggleItem: ( label: string ) =&gt; void</a></h3>
<p>This is executed when an individual control’s menu item is toggled. It<br/>
will update the panel’s menu item state and call the panel item’s <code>onSelect</code> or<br/>
<code>onDeselect</code> callbacks as appropriate.</p>
<ul>
<li>Required: Yes</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
