
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">MenuItem</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>MenuItem</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>MenuItem is a component which renders a button intended to be used in combination with the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/dropdown-menu/">DropdownMenu component</a>.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { MenuItem } from '@wordpress/components';

const MyMenuItem = () =&gt; {
    const [ isActive, setIsActive ] = useState( true );

    return (
        &lt;MenuItem
            icon={ isActive ? 'yes' : 'no' }
            isSelected={ isActive }
            onClick={ () =&gt; setIsActive( ( state ) =&gt; ! state ) }
        &gt;
            Toggle
        &lt;/MenuItem&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>MenuItem supports the following props. Any additional props are passed through to the underlying <a href="https://developer.notmatt.press/block-editor/reference-guide/components/button/">Button</a>.</p>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<ul>
<li>Type: <code>Element</code></li>
<li>Required: No</li>
</ul>
<p>Element to render as child of button.</p>
<h3 class="is-toc-heading" id="disabled" tabindex="-1"><a href="#disabled">disabled</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Refer to documentation for <a href="https://developer.notmatt.press/block-editor/reference-guide/components/button/#disabled-boolean">Button’s <code>disabled</code> prop</a>.</p>
<h3 class="is-toc-heading" id="info" tabindex="-1"><a href="#info">info</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Text to use as description for button text.</p>
<p>Refer to documentation for <a href="#label"><code>label</code></a>.</p>
<h3 class="is-toc-heading" id="icon" tabindex="-1"><a href="#icon">icon</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>Refer to documentation for <a href="https://developer.notmatt.press/block-editor/reference-guide/components/icon-button/#icon">Button’s <code>icon</code> prop</a>.</p>
<h3 class="is-toc-heading" id="iconposition" tabindex="-1"><a href="#iconposition">iconPosition</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: <code>'right'</code></li>
</ul>
<p>Determines where to display the provided <code>icon</code>.</p>
<h3 class="is-toc-heading" id="isselected" tabindex="-1"><a href="#isselected">isSelected</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
</ul>
<p>Whether or not the menu item is currently selected. <code>isSelected</code> is only taken into account when the <code>role</code> prop is either <code>"menuitemcheckbox"</code> or <code>"menuitemradio"</code>.</p>
<h3 class="is-toc-heading" id="shortcut" tabindex="-1"><a href="#shortcut">shortcut</a></h3>
<ul>
<li>Type: <code>string</code> or <code>object</code></li>
<li>Required: No</li>
</ul>
<p>If shortcut is a string, it is expecting the display text. If shortcut is an object, it will accept the properties of <code>display</code> (string) and <code>ariaLabel</code> (string).</p>
<h3 class="is-toc-heading" id="role" tabindex="-1"><a href="#role">role</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Require: No</li>
<li>Default: <code>'menuitem'</code></li>
</ul>
<p><a href="https://www.w3.org/TR/wai-aria-1.1/#aria-checked">Aria Spec</a>. If you need to have selectable menu items use menuitemradio for single select, and menuitemcheckbox for multiselect.</p>
<h3 class="is-toc-heading" id="suffix" tabindex="-1"><a href="#suffix">suffix</a></h3>
<ul>
<li>Type: <code>Element</code></li>
<li>Required: No</li>
</ul>
<p>Allows for markup other than icons or shortcuts to be added to the menu item.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
