
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">ClipboardButton</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>ClipboardButton</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><div class="callout callout-alert">
This component is deprecated. Please use the `useCopyToClipboard` hook from the `@wordpress/compose` package instead.
</div>
<p>With a clipboard button, users copy text (or other elements) with a single click or tap.</p>
<p><img alt="Clipboard button component" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/wordpress.org/gutenberg/files/2019/07/clipboard-button-2-1.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<pre><code class="language-jsx">import { useState } from 'react';
import { ClipboardButton } from '@wordpress/components';

const MyClipboardButton = () =&gt; {
    const [ hasCopied, setHasCopied ] = useState( false );
    return (
        &lt;ClipboardButton
            variant="primary"
            text="Text to be copied."
            onCopy={ () =&gt; setHasCopied( true ) }
            onFinishCopy={ () =&gt; setHasCopied( false ) }
        &gt;
            { hasCopied ? 'Copied!' : 'Copy Text' }
        &lt;/ClipboardButton&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The component accepts the following props:</p>
<h3 class="is-toc-heading" id="classname" tabindex="-1"><a href="#classname">className</a></h3>
<p>The class that will be added to the classes of the underlying <code>&lt;Button&gt;</code> component.</p>
<ul>
<li>Type: <code>string</code></li>
<li>Required: no</li>
</ul>
<h3 class="is-toc-heading" id="text" tabindex="-1"><a href="#text">text</a></h3>
<p>The text that will be copied to the clipboard.</p>
<ul>
<li>Type: <code>string</code></li>
<li>Required: yes</li>
</ul>
<h3 class="is-toc-heading" id="oncopy" tabindex="-1"><a href="#oncopy">onCopy</a></h3>
<p>The function that will be called when the text is copied.</p>
<p>— Type: <code>() =&gt; void</code><br/>
— Required: yes</p>
<h3 class="is-toc-heading" id="onfinishcopy" tabindex="-1"><a href="#onfinishcopy">onFinishCopy</a></h3>
<p>The function that will be called when the text is copied and the copy animation is finished.</p>
<p>— Type: <code>() =&gt; void</code><br/>
— Required: no</p>
<h3 class="is-toc-heading" id="inherited-props" tabindex="-1"><a href="#inherited-props">Inherited props</a></h3>
<p>Any additional props will be passed the underlying <code>&lt;Button/&gt;</code> component. See the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/button/#props">Button</a> component for more details on the available props.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
