
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">Disabled</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>Disabled</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>Disabled is a component which disables descendant tabbable elements and prevents pointer interaction.</p>
<h2 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h2>
<p>Assuming you have a form component, you can disable all form inputs by wrapping the form with <code>&lt;Disabled&gt;</code>.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { Button, Disabled, TextControl } from '@wordpress/components';

const MyDisabled = () =&gt; {
    const [ isDisabled, setIsDisabled ] = useState( true );

    let input = (
        &lt;TextControl
            __next40pxDefaultSize
            __nextHasNoMarginBottom
            label="Input"
            onChange={ () =&gt; {} }
        /&gt;
    );
    if ( isDisabled ) {
        input = &lt;Disabled&gt;{ input }&lt;/Disabled&gt;;
    }

    const toggleDisabled = () =&gt; {
        setIsDisabled( ( state ) =&gt; ! state );
    };

    return (
        &lt;div&gt;
            { input }
            &lt;Button variant="primary" onClick={ toggleDisabled }&gt;
                Toggle Disabled
            &lt;/Button&gt;
        &lt;/div&gt;
    );
};
</code></pre>
<p>A component can detect if it has been wrapped in a <code>&lt;Disabled /&gt;</code> by accessing its <a href="https://react.dev/learn/passing-data-deeply-with-context">context</a> using <code>Disabled.Context</code>.</p>
<pre><code class="language-jsx">function CustomButton( props ) {
    const isDisabled = useContext( Disabled.Context );
    return &lt;button { ...props } style={ { opacity: isDisabled ? 0.5 : 1 } } /&gt;;
}
</code></pre>
<p><em>Note: this component may not behave as expected in browsers that don’t support <a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/inert">the <code>inert</code> HTML attribute</a>. We recommend adding <a href="https://github.com/WICG/inert">the official WICG polyfill</a> when using this component in your project.</em></p>
<h3 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h3>
<p>The component accepts the following props:</p>
<h4>isDisabled</h4>
<p>Whether to disable all the descendant fields. Defaults to <code>true</code>.</p>
<ul>
<li>Type: <code>Boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
