
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">RangeControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>RangeControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p>RangeControls are used to make selections from a range of incremental values.</p>
<p><img alt="A RangeControl for volume" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/12/rangecontrol.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<h3 class="is-toc-heading" id="anatomy" tabindex="-1"><a href="#anatomy">Anatomy</a></h3>
<p>A RangeControl can contain the following elements:</p>
<ol>
<li><strong>Rail</strong>: The rail represents the entire surface area of the slider, from the minimum value selectable by the user to the maximum value selectable by the user. For left-to-right (LTR) languages, the minimum value appears on the far left, and the maximum value on the far right. For right-to-left (RTL) languages this orientation is reversed, with the minimum value on the far right and the maximum value on the far left.</li>
<li><strong>Track</strong>: The track represents the portion of the rail from the minimum value to the currently selected value.</li>
<li><strong>Thumb</strong>: The thumb slides along the track, displaying the selected value through its position.</li>
<li><strong>Value entry field</strong>: The value entry field displays the currently selected, specific numerical value.</li>
<li><strong>Icon</strong> (optional): An icon can be displayed before or after the slider.</li>
<li><strong>Tick mark</strong> (optional): Tick marks represent predetermined values to which the user can move the slider.</li>
</ol>
<h3 class="is-toc-heading" id="types" tabindex="-1"><a href="#types">Types</a></h3>
<h4>Continuous sliders</h4>
<p>Continuous sliders allow users to select a value along a subjective range. They do not display the selected numeric value. Use them when displaying/editing the numeric value is not important, like volume.</p>
<h4>Discrete sliders</h4>
<p>Discrete sliders can be adjusted to a specific value by referencing its value entry field. Use them when it’s important to display/edit the numeric value, like text size.</p>
<p>Possible selections may be organized through the use of tick marks, which a thumb will snap to (or to which an input will round up or down).</p>
<h3 class="is-toc-heading" id="behavior" tabindex="-1"><a href="#behavior">Behavior</a></h3>
<ul>
<li><strong>Click and drag</strong>: The slider is controlled by clicking the thumb and dragging it.</li>
<li><strong>Click jump</strong>: The slider is controlled by clicking the track.</li>
<li><strong>Click and arrow</strong>: The slider is controlled by clicking the thumb, then using arrow keys to move it.</li>
<li><strong>Tab and arrow</strong>: The slider is controlled by using the tab key to select the thumb of the desired slider, then using arrow keys to move it.</li>
<li><strong>Value entry field</strong>: Discrete sliders have value entry fields. After a text entry is made, the slider position automatically updates to reflect the new value.</li>
<li><strong>Tick marks</strong> (Optional) Discrete sliders can use evenly spaced tick marks along the slider track, and the thumb will snap to them. Each tick mark should change the setting in increments that are discernible to the user.</li>
</ul>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<p>RangeControls reflect a range of values along a track, from which users may select a single value. They are ideal for adjusting settings such as volume, opacity, or text size.</p>
<p>RangeControls can have icons on both ends of the track that reflect a range of values.</p>
<h4>Immediate effects</h4>
<p>Changes made with RangeControls are immediate, allowing a user to make adjustments until finding their preference. They shouldn’t be paired with settings that have delays in providing feedback.</p>
<p><img alt="A RangeControl that requires a save action" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/12/rangecontrol-save-action.png?ssl=1"/></p>
<p><strong>Don’t</strong><br/>
Don’t use RangeControls if the effect isn’t immediate.</p>
<h4>Current state</h4>
<p>RangeControls reflect the current state of the settings they control.</p>
<h4>Values</h4>
<p><img alt="" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/12/rangecontrol-field.png?ssl=1"/></p>
<p>A RangeControl with an editable numeric value</p>
<p><strong>Editable numeric values</strong>: Editable numeric values allow users to set the exact value of a RangeControl. After setting a value, the thumb position is immediately updated to match the new value.</p>
<p><img alt="A RangeControl with only two values" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/12/rangecontrol-2-values.png?ssl=1"/></p>
<p><strong>Don’t</strong><br/>
RangeControls should only be used for choosing selections from a range of values (e.g., don’t use a RangeControl if there are only 2 values).</p>
<p><img alt="" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/make.wordpress.org/design/files/2018/12/rangecontrol-disabled.png?ssl=1"/></p>
<p><strong>Don’t</strong><br/>
RangeControls should provide the full range of choices available for the user to select from (e.g., don’t disable only part of a RangeControl).</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage-2" tabindex="-1"><a href="#usage-2">Usage</a></h3>
<p>Render a RangeControl to make a selection from a range of incremental values.</p>
<pre><code class="language-jsx">import { useState } from 'react';
import { RangeControl } from '@wordpress/components';

const MyRangeControl = () =&gt; {
    const [ columns, setColumns ] = useState( 2 );

    return (
        &lt;RangeControl
            __nextHasNoMarginBottom
            __next40pxDefaultSize
            label="Columns"
            value={ columns }
            onChange={ ( value ) =&gt; setColumns( value ) }
            min={ 2 }
            max={ 10 }
        /&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<p>The set of props accepted by the component will be specified below.<br/>
Props not included in this set will be applied to the input elements.</p>
<h3 class="is-toc-heading" id="aftericon-stringfunctioncomponentnull" tabindex="-1"><a href="#aftericon-stringfunctioncomponentnull">afterIcon: string|Function|Component|null</a></h3>
<p>If this property is added, an <a href="https://developer.notmatt.press/block-editor/reference-guide/components/icon/">Icon component</a> will be rendered after the slider with the icon equal to <code>afterIcon</code>.</p>
<p>For more information on <code>IconType</code> see the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/icon/index.tsx/#L23">Icon component</a>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="allowreset-boolean" tabindex="-1"><a href="#allowreset-boolean">allowReset: boolean</a></h3>
<p>If this property is true, a button to reset the slider is rendered.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="beforeicon-stringfunctioncomponentnull" tabindex="-1"><a href="#beforeicon-stringfunctioncomponentnull">beforeIcon: string|Function|Component|null</a></h3>
<p>If this property is added, an <a href="https://developer.notmatt.press/block-editor/reference-guide/components/icon/">Icon component</a> will be rendered before the slider with the icon equal to <code>beforeIcon</code>.</p>
<p>For more information on <code>IconType</code> see the <a href="https://developer.notmatt.press/block-editor/reference-guide/components/icon/index.tsx/#L23">Icon component</a>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="color-csspropertiescolor" tabindex="-1"><a href="#color-csspropertiescolor">color: CSSProperties[‘color’]</a></h3>
<p>CSS color string for the <code>RangeControl</code> wrapper.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="currentinput-number" tabindex="-1"><a href="#currentinput-number">currentInput: number</a></h3>
<p>The current input to use as a fallback if <code>value</code> is currently <code>undefined</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="disabled-boolean" tabindex="-1"><a href="#disabled-boolean">disabled: boolean</a></h3>
<p>Disables the <code>input</code>, preventing new values from being applied.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="help-stringelement" tabindex="-1"><a href="#help-stringelement">help: string|Element</a></h3>
<p>If this property is added, a help text will be generated using help property as the content.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="hidelabelfromvision-boolean" tabindex="-1"><a href="#hidelabelfromvision-boolean">hideLabelFromVision: boolean</a></h3>
<p>Provides control over whether the label will only be visible to screen readers.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="icon-string" tabindex="-1"><a href="#icon-string">icon: string</a></h3>
<p>An icon to be shown above the slider next to its container title.</p>
<ul>
<li>Required: No</li>
<li>Platform: Mobile</li>
</ul>
<h3 class="is-toc-heading" id="initialposition-number" tabindex="-1"><a href="#initialposition-number">initialPosition: number</a></h3>
<p>The slider starting position, used when no <code>value</code> is passed. The <code>initialPosition</code> will be clamped between the provided <code>min</code> and <code>max</code> prop values.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="isshiftstepenabled-boolean" tabindex="-1"><a href="#isshiftstepenabled-boolean">isShiftStepEnabled: boolean</a></h3>
<p>Passed as a prop to the <code>NumberControl</code> component and is only applicable if <code>withInputField</code> is true. If true, while the number input has focus, pressing <code>UP</code> or <code>DOWN</code> along with the <code>SHIFT</code> key will change the value by the <code>shiftStep</code> value.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="label-string" tabindex="-1"><a href="#label-string">label: string</a></h3>
<p>If this property is added, a label will be generated using label property as the content.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="marks-arrayboolean" tabindex="-1"><a href="#marks-arrayboolean">marks: Array|boolean</a></h3>
<p>Renders a visual representation of <code>step</code> ticks. Custom mark indicators can be provided by an <code>Array</code>.</p>
<p>Example:</p>
<pre><code class="language-jsx">const marks = [
    {
        value: 0,
        label: '0',
    },
    {
        value: 1,
        label: '1',
    },
    {
        value: 8,
        label: '8',
    },
    {
        value: 10,
        label: '10',
    },
];

const MyRangeControl() {
    return ( &lt;RangeControl marks={ marks } min={ 0 } max={ 10 } step={ 1 } /&gt; )
}
</code></pre>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="onblur-focuseventhandler-htmlinputelement" tabindex="-1"><a href="#onblur-focuseventhandler-htmlinputelement">onBlur: FocusEventHandler&lt; HTMLInputElement &gt;</a></h3>
<p>Callback for when <code>RangeControl</code> input loses focus.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="onchange-value-number-void" tabindex="-1"><a href="#onchange-value-number-void">onChange: ( value?: number ) =&gt; void</a></h3>
<p>A function that receives the new value. The value will be less than <code>max</code> and more than <code>min</code> unless a reset (enabled by <code>allowReset</code>) has occurred. In which case the value will be either that of <code>resetFallbackValue</code> if it has been specified or otherwise <code>undefined</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="onfocus-focuseventhandler-htmlinputelement" tabindex="-1"><a href="#onfocus-focuseventhandler-htmlinputelement">onFocus: FocusEventHandler&lt; HTMLInputElement &gt;</a></h3>
<p>Callback for when <code>RangeControl</code> input gains focus.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="onmouseleave-mouseeventhandler-htmlinputelement" tabindex="-1"><a href="#onmouseleave-mouseeventhandler-htmlinputelement">onMouseLeave: MouseEventHandler&lt; HTMLInputElement &gt;</a></h3>
<p>Callback for when mouse exits the <code>RangeControl</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="onmousemove-mouseeventhandler-htmlinputelement" tabindex="-1"><a href="#onmousemove-mouseeventhandler-htmlinputelement">onMouseMove: MouseEventHandler&lt; HTMLInputElement &gt;</a></h3>
<p>Callback for when mouse moves within the <code>RangeControl</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="min-number" tabindex="-1"><a href="#min-number">min: number</a></h3>
<p>The minimum <code>value</code> allowed.</p>
<ul>
<li>Required: No</li>
<li>Default: 0</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="max-number" tabindex="-1"><a href="#max-number">max: number</a></h3>
<p>The maximum <code>value</code> allowed.</p>
<ul>
<li>Required: No</li>
<li>Default: 100</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="railcolor-cssproperties-color" tabindex="-1"><a href="#railcolor-cssproperties-color">railColor: CSSProperties[ ‘color’ ]</a></h3>
<p>CSS color string to customize the rail element’s background.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="rendertooltipcontent-value-value" tabindex="-1"><a href="#rendertooltipcontent-value-value">renderTooltipContent: ( value ) =&gt; value</a></h3>
<p>A way to customize the rendered UI of the value. Example:</p>
<pre><code class="language-jsx">const customTooltipContent = value =&gt; `${value}%`

const MyRangeControl() {
    return (&lt;RangeControl renderTooltipContent={ customTooltipContent } /&gt;)
}
</code></pre>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="resetfallbackvalue-number" tabindex="-1"><a href="#resetfallbackvalue-number">resetFallbackValue: number</a></h3>
<p>The value to revert to if the Reset button is clicked (enabled by <code>allowReset</code>)</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="separatortype-none-fullwidth-topfullwidth" tabindex="-1"><a href="#separatortype-none-fullwidth-topfullwidth">separatorType: ‘none’ | ‘fullWidth’ | ‘topFullWidth’</a></h3>
<p>Define if separator line under/above control row should be disabled or full width. By default it is placed below excluding underline the control icon.</p>
<ul>
<li>Required: No</li>
<li>Platform: Mobile</li>
</ul>
<h3 class="is-toc-heading" id="shiftstep-number" tabindex="-1"><a href="#shiftstep-number">shiftStep: number</a></h3>
<p>Passed as a prop to the <code>NumberControl</code> component and is only applicable if <code>withInputField</code> and <code>isShiftStepEnabled</code> are both true and while the number input has focus. Acts as a multiplier of <code>step</code>.</p>
<ul>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="showtooltip-boolean" tabindex="-1"><a href="#showtooltip-boolean">showTooltip: boolean</a></h3>
<p>Forcing the Tooltip UI to show or hide. This is overridden to <code>false</code> when <code>step</code> is set to the special string value <code>any</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="step-number-any" tabindex="-1"><a href="#step-number-any">step: number | ‘any’</a></h3>
<p>The minimum amount by which <code>value</code> changes. It is also a factor in validation as <code>value</code> must be a multiple of <code>step</code> (offset by <code>min</code>) to be valid. Accepts the special string value <code>any</code> that voids the validation constraint and overrides both <code>withInputField</code> and <code>showTooltip</code> props to <code>false</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="trackcolor-cssproperties-color" tabindex="-1"><a href="#trackcolor-cssproperties-color">trackColor: CSSProperties[ ‘color’ ]</a></h3>
<p>CSS color string to customize the track element’s background.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="type-string" tabindex="-1"><a href="#type-string">type: string</a></h3>
<p>Define if the value selection should present a stepper control or a slider control in the bottom sheet on mobile. To use the stepper set the type value as <code>stepper</code>. Defaults to slider if no option is provided.</p>
<ul>
<li>Required: No</li>
<li>Platform: Mobile</li>
</ul>
<h3 class="is-toc-heading" id="value-number" tabindex="-1"><a href="#value-number">value: number</a></h3>
<p>The current value of the range slider.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web | Mobile</li>
</ul>
<h3 class="is-toc-heading" id="withinputfield-boolean" tabindex="-1"><a href="#withinputfield-boolean">withInputField: boolean</a></h3>
<p>Determines if the <code>input</code> number field will render next to the RangeControl. This is overridden to <code>false</code> when <code>step</code> is set to the special string value <code>any</code>.</p>
<ul>
<li>Required: No</li>
<li>Platform: Web</li>
</ul>
<h3 class="is-toc-heading" id="__next40pxdefaultsize-boolean" tabindex="-1"><a href="#__next40pxdefaultsize-boolean">__next40pxDefaultSize: boolean</a></h3>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h3 class="is-toc-heading" id="__nexthasnomarginbottom-boolean" tabindex="-1"><a href="#__nexthasnomarginbottom-boolean">__nextHasNoMarginBottom: boolean</a></h3>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<ul>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<h2 class="is-toc-heading" id="related-components" tabindex="-1"><a href="#related-components">Related components</a></h2>
<ul>
<li>To collect a numerical input in a text field, use the <code>TextControl</code> component.</li>
</ul>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
