
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">MenuItemsChoice</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>MenuItemsChoice</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><code>MenuItemsChoice</code> functions similarly to a set of <code>MenuItem</code>s, but allows the user to select one option from a set of multiple choices.</p>
<p><img alt="MenuItemsChoice Example" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/wordpress.org/gutenberg/files/2019/03/MenuItemsChoice.png?ssl=1"/></p>
<h2 class="is-toc-heading" id="design-guidelines" tabindex="-1"><a href="#design-guidelines">Design guidelines</a></h2>
<p>A <code>MenuItemsChoice</code> should be housed within in its own distinct <code>MenuGroup</code>, so that the set of options are distinct from nearby <code>MenuItems</code>.</p>
<h3 class="is-toc-heading" id="usage" tabindex="-1"><a href="#usage">Usage</a></h3>
<p><code>MenuItemsChoice</code> is used in a <code>DropdownMenu</code> to present users with a set of options. When one option in a <code>MenuItemsChoice</code> is selected, the others are automatically deselected.</p>
<p><img alt="MenuItemsChoice Diagram" data-recalc-dims="1" decoding="async" src="https://i0.wp.com/wordpress.org/gutenberg/files/2019/03/MenuItemsChoice-Checkbox-Keyboard-Shortcut.png?ssl=1"/></p>
<ol>
<li>A checkmark icon appears next to the choice when it’s enabled, and disappears when disabled.</li>
<li>If an item in <code>MenuItemsChoice</code> has an associated keyboard shortcut, that should be displayed to the right of the menu title, aligned to the right side of the menu item. Selected choices should not have visible shortcuts, since they are already active.</li>
</ol>
<h4>When to use <code>MenuItemsChoice</code></h4>
<p>Use <code>MenuItemsChoice</code> when you want users to:</p>
<ul>
<li>Select a single option from a set of choices in a menu.</li>
<li>Expose all available options.</li>
</ul>
<p><code>MenuItemsChoice</code> should not be used to toggle individual features on and off. For that, consider using a <code>FeatureToggle</code>.</p>
<h4>Defaults</h4>
<p>When using <code>MenuItemsChoice</code> , <strong>one option should be selected by default</strong> (i.e., when the page loads, in the case of a web application).</p>
<p><strong>User control</strong></p>
<p>Selecting an option by default communicates that the user is required to choose one in the set.</p>
<p><strong>Expediting tasks</strong></p>
<p>When one choice in a set of <code>MenuItemsChoice</code> is the most desirable or frequently selected, it’s helpful to select it by default. Doing this reduces the interaction cost and can save the user time and clicks.</p>
<p><strong>The power of suggestion</strong></p>
<p>Designs with a <code>MenuItemsChoice</code> option selected by default make a strong suggestion to the user. It can help them make the best decision and increase their confidence. (Use this guidance with caution, and only for good.)</p>
<h2 class="is-toc-heading" id="development-guidelines" tabindex="-1"><a href="#development-guidelines">Development guidelines</a></h2>
<h3 class="is-toc-heading" id="usage-2" tabindex="-1"><a href="#usage-2">Usage</a></h3>
<pre><code class="language-jsx">import { useState } from 'react';
import { MenuGroup, MenuItemsChoice } from '@wordpress/components';

const MyMenuItemsChoice = () =&gt; {
    const [ mode, setMode ] = useState( 'visual' );
    const choices = [
        {
            value: 'visual',
            label: 'Visual editor',
        },
        {
            value: 'text',
            label: 'Code editor',
        },
    ];

    return (
        &lt;MenuGroup label="Editor"&gt;
            &lt;MenuItemsChoice
                choices={ choices }
                value={ mode }
                onSelect={ ( newMode ) =&gt; setMode( newMode ) }
            /&gt;
        &lt;/MenuGroup&gt;
    );
};
</code></pre>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
