
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">FormFileUpload</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>FormFileUpload</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-formfileupload--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p>FormFileUpload allows users to select files from their local device.</p>
<pre><code class="language-jsx">import { FormFileUpload } from '@wordpress/components';

const MyFormFileUpload = () =&gt; (
  &lt;FormFileUpload
    __next40pxDefaultSize
    accept="image/*"
    onChange={ ( event ) =&gt; console.log( event.currentTarget.files ) }
  &gt;
    Upload
  &lt;/FormFileUpload&gt;
);
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="__next40pxdefaultsize" tabindex="-1"><a href="#__next40pxdefaultsize">__next40pxDefaultSize</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the larger default height that will become the default size in a future version.</p>
<h3 class="is-toc-heading" id="accept" tabindex="-1"><a href="#accept">accept</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>A string passed to the <code>input</code> element that tells the browser which<br/>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Unique_file_type_specifiers">file types</a><br/>
can be uploaded by the user. e.g: <code>image/*,video/*</code>.</p>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Children are passed as children of <code>Button</code>.</p>
<h3 class="is-toc-heading" id="icon" tabindex="-1"><a href="#icon">icon</a></h3>
<ul>
<li>Type: <code>IconType</code></li>
<li>Required: No</li>
</ul>
<p>The icon to render in the default button.</p>
<p>See the <code>Icon</code> component docs for more information.</p>
<h3 class="is-toc-heading" id="multiple" tabindex="-1"><a href="#multiple">multiple</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Whether to allow multiple selection of files or not.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>ChangeEventHandler&lt;HTMLInputElement&gt;</code></li>
<li>Required: Yes</li>
</ul>
<p>Callback function passed directly to the <code>input</code> file element.</p>
<p>Select files will be available in <code>event.currentTarget.files</code>.</p>
<h3 class="is-toc-heading" id="onclick" tabindex="-1"><a href="#onclick">onClick</a></h3>
<ul>
<li>Type: <code>MouseEventHandler&lt;HTMLInputElement&gt;</code></li>
<li>Required: No</li>
</ul>
<p>Callback function passed directly to the <code>input</code> file element.</p>
<p>This can be useful when you want to force a <code>change</code> event to fire when<br/>
the user chooses the same file again. To do this, set the target value to<br/>
an empty string in the <code>onClick</code> function.</p>
<pre><code class="language-jsx">&lt;FormFileUpload
  __next40pxDefaultSize
  onClick={ ( event ) =&gt; ( event.target.value = '' ) }
  onChange={ onChange }
&gt;
  Upload
&lt;/FormFileUpload&gt;
</code></pre>
<h3 class="is-toc-heading" id="render" tabindex="-1"><a href="#render">render</a></h3>
<ul>
<li>Type: <code>(arg: { openFileDialog: () =&gt; void; }) =&gt; ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Optional callback function used to render the UI.</p>
<p>If passed, the component does not render the default UI (a button) and<br/>
calls this function to render it. The function receives an object with<br/>
property <code>openFileDialog</code>, a function that, when called, opens the browser<br/>
native file upload modal window.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
