
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">AlignmentMatrixControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>AlignmentMatrixControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-alignmentmatrixcontrol--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p>AlignmentMatrixControl components enable adjustments to horizontal and vertical alignments for UI.</p>
<pre><code class="language-jsx">import { AlignmentMatrixControl } from '@wordpress/components';
import { useState } from '@wordpress/element';

const Example = () =&gt; {
    const [ alignment, setAlignment ] = useState( 'center center' );

    return (
        &lt;AlignmentMatrixControl
            value={ alignment }
            onChange={ setAlignment }
        /&gt;
    );
};
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="defaultvalue" tabindex="-1"><a href="#defaultvalue">defaultValue</a></h3>
<ul>
<li>Type: <code>"center" | "top left" | "top center" | "top right" | "center left" | "center center" | "center right" | "bottom left" | "bottom center" | "bottom right"</code></li>
<li>Required: No</li>
<li>Default: <code>'center center'</code></li>
</ul>
<p>If provided, sets the default alignment value.</p>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
<li>Default: <code>'Alignment Matrix Control'</code></li>
</ul>
<p>Accessible label. If provided, sets the <code>aria-label</code> attribute of the<br/>
underlying <code>grid</code> widget.</p>
<h3 class="is-toc-heading" id="onchange" tabindex="-1"><a href="#onchange">onChange</a></h3>
<ul>
<li>Type: <code>(newValue: AlignmentMatrixControlValue) =&gt; void</code></li>
<li>Required: No</li>
</ul>
<p>A function that receives the updated alignment value.</p>
<h3 class="is-toc-heading" id="value" tabindex="-1"><a href="#value">value</a></h3>
<ul>
<li>Type: <code>"center" | "top left" | "top center" | "top right" | "center left" | "center center" | "center right" | "bottom left" | "bottom center" | "bottom right"</code></li>
<li>Required: No</li>
</ul>
<p>The current alignment value.</p>
<h3 class="is-toc-heading" id="width" tabindex="-1"><a href="#width">width</a></h3>
<ul>
<li>Type: <code>number</code></li>
<li>Required: No</li>
<li>Default: <code>92</code></li>
</ul>
<p>If provided, sets the width of the control.</p>
<h2 class="is-toc-heading" id="subcomponents" tabindex="-1"><a href="#subcomponents">Subcomponents</a></h2>
<h3 class="is-toc-heading" id="alignmentmatrixcontrol-icon" tabindex="-1"><a href="#alignmentmatrixcontrol-icon">AlignmentMatrixControl.Icon</a></h3>
<h4>Props</h4>
<h5><code>disablePointerEvents</code></h5>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>true</code></li>
</ul>
<p>If <code>true</code>, disables pointer events on the icon.</p>
<h5><code>value</code></h5>
<ul>
<li>Type: <code>"center" | "top left" | "top center" | "top right" | "center left" | "center center" | "center right" | "bottom left" | "bottom center" | "bottom right"</code></li>
<li>Required: No</li>
<li>Default: <code>center</code></li>
</ul>
<p>The current alignment value.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
