
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.5/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
            color: black;
            font-family: 'Quicksand', 'Open Sans', 'Helvetica', 'Arial', san-serif;
        }
        a, h1, h2, h3, h4, h5, h6 {
            color: #0073aa;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        .has-small-font-size.is-link-to-top {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .entry-content {
            position:relative;
        }
        .entry-content img {
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class='container'>
    
    <div class="page-metadata" data-published="" data-last-updated=""></div>
    
    <div aria-label="Breadcrumbs" class="wp-block-wporg-site-breadcrumbs has-small-font-size" role="navigation"><div class="wporg-site-breadcrumbs__wrapper"><span><a href="https://developer.wordpress.org">Home</a></span><span><a href="https://developer.wordpress.org/block-editor/">Block Editor Handbook</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/">Reference Guides</a></span><span><a href="https://developer.wordpress.org/block-editor/reference-guides/components/">Component Reference</a></span><span class="is-current-page">BaseControl</span></div></div>  <!-- Full breadcrumbs HTML -->
    <h1>BaseControl</h1>
    
    
    <div class="content"><div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow"><p><!-- This file is generated automatically and cannot be edited directly. Make edits via TypeScript types and TSDocs. --></p>
<p class="callout callout-info">See the <a href="https://wordpress.github.io/gutenberg/?path=/docs/components-basecontrol--docs">WordPress Storybook</a> for more detailed, interactive documentation.</p>
<p><code>BaseControl</code> is a component used to generate labels and help text for components handling user inputs.</p>
<pre><code class="language-jsx">import { BaseControl, useBaseControlProps } from '@wordpress/components';

// Render a `BaseControl` for a textarea input
const MyCustomTextareaControl = ({ children, ...baseProps }) =&gt; (
    // `useBaseControlProps` is a convenience hook to get the props for the `BaseControl`
    // and the inner control itself. Namely, it takes care of generating a unique `id`,
    // properly associating it with the `label` and `help` elements.
    const { baseControlProps, controlProps } = useBaseControlProps( baseProps );

    return (
        &lt;BaseControl { ...baseControlProps } __nextHasNoMarginBottom&gt;
            &lt;textarea { ...controlProps }&gt;
              { children }
            &lt;/textarea&gt;
        &lt;/BaseControl&gt;
    );
);
</code></pre>
<h2 class="is-toc-heading" id="props" tabindex="-1"><a href="#props">Props</a></h2>
<h3 class="is-toc-heading" id="__nexthasnomarginbottom" tabindex="-1"><a href="#__nexthasnomarginbottom">__nextHasNoMarginBottom</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>Start opting into the new margin-free styles that will become the default in a future version.</p>
<h3 class="is-toc-heading" id="as" tabindex="-1"><a href="#as">as</a></h3>
<ul>
<li>Type: <code>"symbol" | "object" | "label" | "a" | "abbr" | "address" | "area" | "article" | "aside" | "audio" | "b" | "base" | "bdi" | "bdo" | "big" | "blockquote" | "body" | "br" | "button" | ... 516 more ... | ("view" &amp; FunctionComponent&lt;...&gt;)</code></li>
<li>Required: No</li>
</ul>
<p>The HTML element or React component to render the component as.</p>
<h3 class="is-toc-heading" id="classname" tabindex="-1"><a href="#classname">className</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<h3 class="is-toc-heading" id="children" tabindex="-1"><a href="#children">children</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: Yes</li>
</ul>
<p>The content to be displayed within the <code>BaseControl</code>.</p>
<h3 class="is-toc-heading" id="help" tabindex="-1"><a href="#help">help</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>Additional description for the control.</p>
<p>Only use for meaningful description or instructions for the control. An element containing the description will be programmatically associated to the BaseControl by the means of an <code>aria-describedby</code> attribute.</p>
<h3 class="is-toc-heading" id="hidelabelfromvision" tabindex="-1"><a href="#hidelabelfromvision">hideLabelFromVision</a></h3>
<ul>
<li>Type: <code>boolean</code></li>
<li>Required: No</li>
<li>Default: <code>false</code></li>
</ul>
<p>If true, the label will only be visible to screen readers.</p>
<h3 class="is-toc-heading" id="id" tabindex="-1"><a href="#id">id</a></h3>
<ul>
<li>Type: <code>string</code></li>
<li>Required: No</li>
</ul>
<p>The HTML <code>id</code> of the control element (passed in as a child to <code>BaseControl</code>) to which labels and help text are being generated.<br/>
This is necessary to accessibly associate the label with that element.</p>
<p>The recommended way is to use the <code>useBaseControlProps</code> hook, which takes care of generating a unique <code>id</code> for you.<br/>
Otherwise, if you choose to pass an explicit <code>id</code> to this prop, you are responsible for ensuring the uniqueness of the <code>id</code>.</p>
<h3 class="is-toc-heading" id="label" tabindex="-1"><a href="#label">label</a></h3>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: No</li>
</ul>
<p>If this property is added, a label will be generated using label property as the content.</p>
<h2 class="is-toc-heading" id="subcomponents" tabindex="-1"><a href="#subcomponents">Subcomponents</a></h2>
<h3 class="is-toc-heading" id="basecontrol-visuallabel" tabindex="-1"><a href="#basecontrol-visuallabel">BaseControl.VisualLabel</a></h3>
<p><code>BaseControl.VisualLabel</code> is used to render a purely visual label inside a <code>BaseControl</code> component.</p>
<p>It should only be used in cases where the children being rendered inside <code>BaseControl</code> are already accessibly labeled,<br/>
e.g., a button, but we want an additional visual label for that section equivalent to the labels <code>BaseControl</code> would<br/>
otherwise use if the <code>label</code> prop was passed.</p>
<pre><code class="language-jsx">import { BaseControl } from '@wordpress/components';

const MyBaseControl = () =&gt; (
    &lt;BaseControl
        __nextHasNoMarginBottom
        help="This button is already accessibly labeled."
    &gt;
        &lt;BaseControl.VisualLabel&gt;Author&lt;/BaseControl.VisualLabel&gt;
        &lt;Button&gt;Select an author&lt;/Button&gt;
    &lt;/BaseControl&gt;
);
</code></pre>
<h4>Props</h4>
<h5><code>as</code></h5>
<ul>
<li>Type: <code>"symbol" | "object" | "label" | "a" | "abbr" | "address" | "area" | "article" | "aside" | "audio" | ...</code></li>
<li>Required: No</li>
</ul>
<p>The HTML element or React component to render the component as.</p>
<h5><code>children</code></h5>
<ul>
<li>Type: <code>ReactNode</code></li>
<li>Required: Yes</li>
</ul>
<p>The content to be displayed within the <code>BaseControl.VisualLabel</code>.</p>
</div></div>
    </div>
<footer class="text-center mt-10 py-5">
    <p class="text-sm"><a href="https://notmatt.press">NotMattPress</a>.</p>
</footer>
</body>
</html>
